@using MyNoSqlServer.Abstractions
@using Service.NewsImporter.Domain.NoSql
@using Service.NewsImporter.Grpc
@using Microsoft.AspNetCore.Components
@using Service.NewsImporter.Domain.Models
@using Service.NewsImporter.Grpc.Models

@inject IExternalTickerSettingsService _externalTickerSettingsService;
@inject IIntegrationProviderService _integrationProviderService;
<ul class="nav align-middle">
    <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="CheckTicker">Check ticker</button></li>
</ul>
@foreach (var elem in SettingsWithStringValues)
{
    <div class="col">
        <table>
            <thead>
            <tr>
                <th>Integration Source</th>
                <th>News Tiker</th>
                <th>Associate Symbols</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="align-middle">
                    <select @bind="@elem.IntegrationSource">
                        @foreach (var name in IntegrationConstants.IntegrationSources)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </td>
                <td class="align-middle">
                    <input type="text" class="form-control" @bind="elem.NewsTicker"/>
                </td>
                <td class="align-middle">
                    <input type="text" class="form-control" @bind="elem.AssociateSymbols"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
}

<div>
    <ul class="nav align-middle">
        <li><button style="margin-left: 10px" type="button" class="btn-outline-danger btn" @onclick="ApplySettings">Apply</button></li>
        <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="ResetSettings">Refresh</button></li>
        <li><button style="margin-left: 10px" type="button" class="btn-outline-info btn" @onclick="CreateNew">Create New</button></li>
    </ul>
</div>

@if (IsShowQuestion)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="@QuestionTitle"
            OnClose="OnCloseQuestionDialog"
            YesButtonCaption="Yes"
            NoButtonCaption="No"
            OnSubmit="ConfirmQuestion">
            
            <h3 class="alert-warning">@QuestionText</h3>
            
        </BaseTwoButtonsDialog>
    </div>
}
@if (CheckTickerWindowOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Check ticker"
            OnClose="OnCloseCheckTicker"
            YesButtonCaption="Check"
            NoButtonCaption="Close"
            OnSubmit="OnConfirmCheckTicker">
            <table>
                <tr>
                    <td>Ticker</td>
                    <td><input type="text" class="form-control" @bind=TickerToCheck/></td>
                </tr>
            </table>
            @if (CheckTickerError)
            {
                <h2>@CheckTickerErrorText</h2>
            }
            @if (NewsByCheckedTicker != null && NewsByCheckedTicker.Any())
            {
                var index = 1;
                foreach (var news in NewsByCheckedTicker)
                {
                    <h3>
                        <b>@(index)</b>@(" " + news)
                    </h3>
                    index++;
                }
            }
        </BaseTwoButtonsDialog>
    </div>
}

@code {
    private List<ExternalTickerSettings> Settings { get; set; } = new();
    private List<ExternalTickerSettingsWithStrings> SettingsWithStringValues { get; set; } = new();

    private string ErrorText { get; set; }
    private bool ShowError { get; set; } = false;
    
    private bool IsShowQuestion { get; set; }
    private string QuestionTitle { get; set; }
    private string QuestionText { get; set; }
    private Func<Task> QuestionConfirmCallback { get; set; }
    
    private bool CheckTickerWindowOpen { get; set; }
    private string TickerToCheck { get; set; }
    private bool CheckTickerError { get; set; }
    private string CheckTickerErrorText { get; set; }
    private List<string> NewsByCheckedTicker { get; set; } = new();

    private async Task CreateNew()
    {
        SettingsWithStringValues.Add(new ExternalTickerSettingsWithStrings());
        ShowError = false;
        StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }
    
    private async Task RefreshData()
    {
        try
        {
            var response = await _externalTickerSettingsService.GetTikerSettingsAsync();
            Settings = response.SettingsCollection ?? new List<ExternalTickerSettings>();

            RefreshSettingsWithStringValues();
            StateHasChanged();
        }
        catch (Exception exception)
        {
            ShowErrorText(exception.Message);
        }
    }

    private void RefreshSettingsWithStringValues()
    {
        SettingsWithStringValues = new();
        Settings.ForEach(e =>
        {
            SettingsWithStringValues.Add(new ExternalTickerSettingsWithStrings()
            {
                IntegrationSource = e.IntegrationSource,
                NewsTicker = e.NewsTicker,
                AssociateSymbols = GetStringByList(e.AssociateSymbols)
            });
        });
    }
    
    private void RefreshSettingsFromStrings()
    {
        Settings = new List<ExternalTickerSettings>();
        foreach (var elem in SettingsWithStringValues)
        {
            Settings.Add(new ExternalTickerSettings()
            {
                IntegrationSource = elem.IntegrationSource ?? IntegrationConstants.IntegrationSources.FirstOrDefault(),
                NewsTicker = elem.NewsTicker,
                AssociateSymbols = GetListByString(elem.AssociateSymbols)
            });
        }
    }

    private List<string> GetListByString(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<string>();
        }
        return value.Trim().Split(",").Where(e => !string.IsNullOrWhiteSpace(e)).ToList();
    }

    private string GetStringByList(List<string> list)
    {
        var result = string.Empty;

        if (list == null)
            return result;
        
        foreach (var e in list)
        {
            if (!string.IsNullOrWhiteSpace(result))
                result += ", ";
            result += e;
        }
        return result;
    }

    private void ShowErrorText(string message)
    {
        ErrorText = message;
        ShowError = true;
        Settings = new List<ExternalTickerSettings>();

        StateHasChanged();
    }

    private void ApplySettings()
    {
        AskQuestion("Change Settings", "Apply a new settings. Are you sure?",
            async () =>
            {
                RefreshSettingsFromStrings();
                
                Settings.ForEach(async elem =>
                {
                    var response = await _externalTickerSettingsService.UpdateTikerSettingsAsync(new UpdateTikerSettingsRequest()
                    {
                        Settings = elem
                    });
                });
                StateHasChanged();
            });
    }

    private async Task ResetSettings()
    {
        await RefreshData();
        StateHasChanged();
    }

    private void AskQuestion(string title, string content, Func<Task> confirmAction)
    {
        QuestionTitle = title;
        QuestionText = content;
        QuestionConfirmCallback = confirmAction;
        IsShowQuestion = true;
        
        StateHasChanged();
    }
    private async Task ConfirmQuestion()
    {
        await InvokeAsync(StateHasChanged);
        
        var action = QuestionConfirmCallback;
        if (action != null)
        {
            await action.Invoke();
        }

        IsShowQuestion = false;
        await InvokeAsync(StateHasChanged);
    }
    private void OnCloseQuestionDialog()
    {
        IsShowQuestion = false;
        StateHasChanged();
    }

    public class ExternalTickerSettingsWithStrings
    {
        public string IntegrationSource { get; set; }
        public string NewsTicker { get; set; }
        public string AssociateSymbols { get; set; }
    }

    private async Task CheckTicker()
    {
        CheckTickerWindowOpen = true;
        CheckTickerError = false;
        CheckTickerErrorText = string.Empty;
        NewsByCheckedTicker = new();
        TickerToCheck = string.Empty;
        
        StateHasChanged();
    }

    private async Task OnCloseCheckTicker()
    {
        CheckTickerWindowOpen = false;
        StateHasChanged();
    }

    private async Task OnConfirmCheckTicker()
    {
        var response = await _integrationProviderService.GetNewsByTickerAsync(new GetNewsByTickerRequest(){Ticker = TickerToCheck});
        if (!response.Success)
        {
            CheckTickerError = true;
            CheckTickerErrorText = response.ErrorText;
            NewsByCheckedTicker = new();
        }
        else
        {
            CheckTickerError = false;
            if (response.News != null && response.News.Any())
            {
                NewsByCheckedTicker = response.News.Select(e => e.Title).ToList();
            }
            else
            {
                NewsByCheckedTicker = new(){"News not found"};
            }
        }
        StateHasChanged();
    }
}
