@using Microsoft.AspNetCore.Components
@using Service.Liquidity.Engine.Domain.Models.Portfolio
@using Service.Liquidity.Reports.Grpc
@using Service.Liquidity.Reports.Grpc.Models

@inject ILiquidityReportService LiquidityReportService

<h3>Closed Positions</h3>

<ul class="nav">
    @if (_closedPositions?.Any() == true)
    {
        <li><button type="button" class="btn-outline-info btn" @onclick="NextPageClosedPosition">>>> Next >>></button></li>
    }
    <li><button type="button" class="btn-outline-secondary btn" @onclick="RefreshClosedPosition">Refresh</button></li>
    <li><span style="margin-left: 10px; vertical-align: center">Count in page: </span><input type="number" style="width: 40px" @bind="CountInPage"/></li>
</ul>
<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>#</th>
        <th>Symbol</th>
        <th>Side</th>
        <th>BaseVolume</th>
        <th>QuoteVolume</th>
        <th>Result</th>
        <th>OpenTime</th>
        <th>CloseTime</th>
        <th>WalletId</th>
        <th>Id</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    
    @{
        var rowNumber = _index;
    }
    
    @foreach (var position in _closedPositions)
    {
        rowNumber++;
        
        <tr style="background: @(position.QuoteVolume < 0 ? "lightcoral" : "lightgreen") ">
            <td>@rowNumber</td>
            <td>@position.Symbol</td>
            <td>@position.Side</td>
            <td>@position.BaseVolume @position.BaseAsset</td>
            <td><b>@position.QuoteVolume @position.QuotesAsset</b></td>
            <td>@position.ResultPercentage %</td>
            <td>@position.OpenTime.ToString("O")</td>
            <td>@position.CloseTime?.ToString("O")</td>
            <td>@position.WalletId</td>
            <td>@position.Id</td>
            <td>
                <ul class="nav">
                    <li><button type="button" class="btn-outline-info btn" @onclick="@(() => { ShowTrades(position.Id); })">Trades</button></li>
                </ul>
            </td>
        </tr>
        @if (SelectedPosition == position.Id)
        {
            <tr>
                <td colspan="9">
                    <div class="border" style="margin-left: 20px; width: auto">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Source</th>
                                <th>Symbol</th>
                                <th>Side</th>
                                <th>Price</th>
                                <th>Vol</th>
                                <th>Id</th>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var trade in _positionTrades)
                            {
                                <tr style="background: @TradeBackground(trade)">
                                    <td>@trade.Source</td>
                                    <td>@trade.Symbol</td>
                                    <td>@trade.Side</td>
                                    <td>@trade.Price</td>
                                    <td>@trade.BaseVolume</td>
                                    <td>@trade.TradeId</td>
                                    <td>@trade.DateTime.ToString("O")</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
    
@code {
    
    private List<PositionPortfolio> _closedPositions = new();
    private int CountInPage { get; set; } = 20;
    private DateTime _lastSeen = DateTime.UtcNow;
    private List<PortfolioTrade> _positionTrades = new();
    private long _index = 0;
    private int _currentPageSize = 0;
    
    private string SelectedPosition { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshClosedPosition();
    }

    private string TradeBackground(PortfolioTrade trade)
    {
        if (trade.IsInternal) return "lightcyan";
        return "lightpink";
    }

    private async void ShowTrades(string positionId)
    {
        if (SelectedPosition == positionId)
        {
            _positionTrades = new();
            SelectedPosition = null;
        }
        else
        {
            _positionTrades = (await LiquidityReportService
                .GetPositionTrades(new GetPositionTradesRequest() {PositionId = positionId})).List ?? new();
            SelectedPosition = positionId;
        }
        
        await InvokeAsync(StateHasChanged);
    }

    private async Task RefreshClosedPosition()
    {
        _lastSeen = DateTime.UtcNow;
        _index = 0;
        
        var request = new GetClosedPositionsRequest()
        {
            Take = CountInPage,
            LastSeenDateTime = _lastSeen
        };
        
        _closedPositions = (await LiquidityReportService.GetClosedPositions(request)).List ?? new();
        _currentPageSize = CountInPage;
        
        StateHasChanged();
    }

    private async Task NextPageClosedPosition()
    {
        if (_closedPositions?.Any() != true)
            return;

        _lastSeen = _closedPositions.Min(e => e.CloseTime) ?? DateTime.UtcNow;
        
        var request = new GetClosedPositionsRequest()
        {
            Take = CountInPage,
            LastSeenDateTime = _lastSeen
        };

        _index += _currentPageSize;
        
        _closedPositions = (await LiquidityReportService.GetClosedPositions(request)).List ?? new();
        _currentPageSize = CountInPage;
        
        StateHasChanged();
    }
    
}