@using Microsoft.AspNetCore.Components
@using Service.Liquidity.Engine.Domain.Models.Portfolio
@using Service.Liquidity.Reports.Grpc
@using Service.Liquidity.Reports.Grpc.Models

@inject ILiquidityReportService LiquidityReportService

<h3>Trades</h3>

<ul class="nav">
    @if (_trades?.Any() == true)
    {
        <li><button type="button" class="btn-outline-info btn" @onclick="NextPageTrades">>>> Next >>></button></li>
    }
    <li><button type="button" class="btn-outline-secondary btn" @onclick="RefreshTrades">Refresh</button></li>
    <li>Count in page: <input type="number" style="width: 40px" @bind="CountInPage"/></li>
</ul>
<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>#</th>
        <th>Source</th>
        <th>Symbol</th>
        <th>Side</th>
        <th>Price</th>
        <th>Vol</th>
        <th>Id</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    @{
        var rowNumber = _index;
    }
    @foreach (var trade in _trades)
    {
        rowNumber++;
        <tr style="background: @TradeBackground(trade)">
            <td>@rowNumber</td>
            <td>@trade.Source</td>
            <td>@trade.Symbol</td>
            <td>@trade.Side</td>
            <td>@trade.Price</td>
            <td>@trade.BaseVolume</td>
            <td>@trade.TradeId</td>
            <td>@trade.DateTime</td>
        </tr>
    }
    </tbody>
</table>

@code {
    
    private List<PortfolioTrade> _trades = new();
    private int CountInPage { get; set; } = 20;
    private DateTime _lastSeen = DateTime.UtcNow;
    private long _index = 0;
    private int _currentPageSize = 0;

    protected override async Task OnInitializedAsync()
    {
        await RefreshTrades();
    }

    private async Task RefreshTrades()
    {
        _lastSeen = DateTime.UtcNow;
        _index = 0;
        
        var request = new GetTradesRequest()
        {
            Take = CountInPage,
            LastSeenDateTime = _lastSeen
        };
        
        _trades = (await LiquidityReportService.GetTrades(request)).List ?? new();
        _currentPageSize = CountInPage;
        
        StateHasChanged();
    }

    private async Task NextPageTrades()
    {
        if (_trades?.Any() != true)
            return;

        _lastSeen = _trades.Min(e => e.DateTime);

        var request = new GetTradesRequest()
        {
            Take = CountInPage,
            LastSeenDateTime = _lastSeen
        };

        _index += _currentPageSize;
        
        _trades = (await LiquidityReportService.GetTrades(request)).List ?? new();
        _currentPageSize = CountInPage;
        
        

        StateHasChanged();
    }
    
    private string TradeBackground(PortfolioTrade trade)
    {
        if (trade.IsInternal) return "lightcyan";
        return "lightpink";
    }

}