@using Service.Liquidity.Reports.Grpc
@using Service.Liquidity.Engine.Domain.Models.Portfolio
@using Service.Liquidity.Engine.Grpc
@using MyJetWallet.Domain.Orders
@using Service.Liquidity.Reports.Grpc.Models
@using Microsoft.Extensions.Logging

@inject ILiquidityReportService LiquidityReportService
@inject ILogger<ShortClosePositionComponent> _logger

<h3>Closed</h3>

<table class="table" style="font-size: 10px; width: auto">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>PL</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var position in _closedPositions)
    {
        <tr>
            <td style="color: @(position.Side == OrderSide.Buy ? "green" : "lightcoral") "><b>@position.Symbol</b></td>
            <td style="background: @(position.QuoteVolume < 0 ? "red" : "white") " ><b>@position.QuoteVolume @position.QuotesAsset</b></td>
            <td style="background: @(GetClosedPositionColor(position))">
                @if ((DateTime.UtcNow - position.CloseTime.Value).TotalMinutes < 60)
                {
                    @((DateTime.UtcNow - position.CloseTime)?.ToString())
                }
                else
                {
                    <span>long time ago</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    
    private List<PositionPortfolio> _closedPositions = new();
    
    private bool _isDispose = false;
    
    private async Task Refresh()
    {
        if (_isDispose) return;

        try
        {
            var minTime = DateTime.UtcNow.AddHours(-24);

            var request = new GetClosedPositionsRequest()
            {
                Take = 30,
                LastSeenDateTime = DateTime.UtcNow
            };

            _closedPositions = (await LiquidityReportService.GetClosedPositions(request))
                ?.List
                ?.OrderByDescending(e => e.CloseTime)
                .Where(e => e.CloseTime.HasValue && e.CloseTime > minTime)
                .Take(40)
                .ToList()
                               ?? new List<PositionPortfolio>();

#pragma warning disable 4014
            InvokeAsync(StateHasChanged);
#pragma warning restore 4014
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Cannot refresh ShortClosePositionComponent");
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        await Refresh();
        
        GlobalTimers.RefreshTimer.RegisterCallback(nameof(PortfolioComponent), Refresh);
    }


    public void Dispose()
    {
        _isDispose = true;
        GlobalTimers.RefreshTimer.RemoveCallback(nameof(PortfolioComponent));
    }

    private string GetClosedPositionColor(PositionPortfolio position)
    {
        if ((DateTime.UtcNow - (position.CloseTime ?? DateTime.UtcNow)).TotalSeconds <= 30)
        {
            return "yellow";
        }
        return "white";
    }

}