@using Backoffice.Services.BitGo.Coins
@using Service.BitGo.SignTransaction.Domain.Models
@using Service.BitGo.SignTransaction.Domain.Models.NoSql
@using Backoffice.Abstractions.Models
@using Backoffice.Abstractions.Bo
@inject IBitGoCoinManager BitGoCoinManager;

<Loader LoaderConfig="@LoaderConfig"/>

<BaseTwoButtonsDialog
    Caption=@(!IsCreate ? $"{Item.Id}" : "Create a new BitGo User")
    OnClose="OnClose"
    YesButtonCaption="@(IsCreate ? "Create" : "Update key")"
    NoButtonCaption="Close"
    OnSubmit="OnSubmit">
    <EditForm Model="@this">

    <table>

        <tr>
            <td>

                <table>
                    <tr>
                        <td>Broker</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.BrokerId
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.BrokerId"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.Id
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.Id"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Coin</td>
                        <td class="float-left">
                            <table>
                                <tr>
                                    <InputSelect @bind-Value="@Item.CoinId">
                                        @foreach (var coin in AvailableCoins)
                                        {
                                            <option value="@coin">
                                                <MyLabel Text="@coin"/>
                                            </option>
                                        }
                                    </InputSelect>
                                </tr>
                                <tr>
                                    Please select BitGo Coin Id or default create default api key.    
                                </tr>
                            </table>
                        </td>
                    </tr>
                    @if (!IsCreate)
                    {
                        <tr>
                            <td>BitGo user Id</td>
                            <td class="float-left">
                                @Item.BitGoId
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>Api key</td>
                        <td class="float-left">
                            <input type="text" class="form-control" @bind="Item.ApiKey"/>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
    </EditForm>
</BaseTwoButtonsDialog>

@code {

    private ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();
    
    [Parameter]
    public string DefaultUser { get; set; }
    
    [Parameter]
    public BitGoUser Item { get; set; }

    [Parameter]
    public bool IsCreate { get; set; }

    [Parameter]
    public EventCallback OnCloseCallback { get; set; }

    [Parameter]
    public EventCallback<BitGoUser> OnCreateCallback { get; set; }

    [Parameter]
    public EventCallback<BitGoUser> OnUpdateCallback { get; set; }
    
    [CascadingParameter(Name = "CurrentBoUserUser")]
    public IBackOfficeUser CurrentBoUserUser { get; set; }

    private List<string> AvailableCoins  { get; set; }

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        if (IsCreate)
            await OnCreateCallback.InvokeAsync(Item);
        else
            await OnUpdateCallback.InvokeAsync(Item);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AvailableCoins = new List<string> { BitGoUserNoSqlEntity.DefaultCoin };
        if (IsCreate)
            Item = new BitGoUser()
            {
                BrokerId = "jetwallet",
                Id = DefaultUser,
                CoinId = BitGoUserNoSqlEntity.DefaultCoin,
                RegisterDate = DateTime.Now,
                UpdatedDate = DateTime.Now,
                UpdatedBy = CurrentBoUserUser.Id
            };
        var coins = await BitGoCoinManager.GetAll();
        if (coins.Count > 0)
        {
            AvailableCoins.AddRange(coins.Select(e => e.Coin).ToList());    
        }
    }
}