@using Service.WalletObserver.Grpc
@using Service.WalletObserver.Domain.Models
@using Service.WalletObserver.Grpc.Models

@inject IInternalWalletObserverService _internalWalletObserverService

<ul class="nav">
    <li><button type="button" class="btn-outline-secondary btn" @onclick="RefreshData">Refresh</button></li>
    <li><button type="button" class="btn-outline-secondary btn" @onclick="AddWallet">Add wallet</button></li>
    <li><button type="button" class="btn-outline-warning btn" @onclick="RemoveWallet">Remove wallet</button></li>
</ul>

<ul class="nav">
    <table class="table" style="width: auto">
        <thead>
        <tr align="center">
            <th style="background: lightgray">Asset</th>
            @foreach (var walletName in Balances.Select(e => e.WalletName).OrderBy(e => e).Distinct())
            {
                <th style="background: lightgray" colspan="2" align="center">
                    <span>Name: @Balances.FirstOrDefault(e => e.WalletName == walletName)?.WalletName</span>
                    <br>
                    <span>Id: @Balances.FirstOrDefault(e => e.WalletName == walletName)?.WalletId</span>
                    <br>
                    <span>BrokerId: @Balances.FirstOrDefault(e => e.WalletName == walletName)?.BrokerId</span>
                    <br>
                    <span>AccountId: @Balances.FirstOrDefault(e => e.WalletName == walletName)?.AccountId</span>
                    <br>
                </th>
            }
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var asset in Balances.Where(e => !string.IsNullOrWhiteSpace(e.Asset)).Select(e => e.Asset).Distinct().OrderBy(e => e))
        {
            <tr border="1px solid red">
                <td>@asset</td>
                @foreach (var wallet in Balances.Select(e => e.WalletName).Distinct().OrderBy(e => e))
                {
                    <td>
                        <span>@Math.Round(Balances.FirstOrDefault(e => e.WalletName == wallet && e.Asset == asset)?.Volume ?? 0, 8)</span>
                        <br>
                        <span>USD: @Math.Round(Balances.FirstOrDefault(e => e.WalletName == wallet && e.Asset == asset)?.UsdVolume ?? 0, 2)</span>
                        <br>
                        <span><b>Limit: @Balances.FirstOrDefault(e => e.WalletName == wallet && e.Asset == asset)?.MinBalanceInUsd</b></span>
                    </td>
                    <td><button type="button" class="btn-outline-secondary btn" @onclick="() => ChangeMinBalance(wallet, asset)">Change</button></td>
                }
            </tr>
        }
        </tbody>
    </table>
</ul>

@if (_addWalletWindowOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Market Trade"
            OnClose="@OnCloseAddWalletWindow"
            YesButtonCaption="Execute"
            NoButtonCaption="Cancel"
            OnSubmit="@OnSubmitAddWalletWindow">
            <table>
                <tr>
                    <td>Wallet Name</td>
                    <td><input type="text" class="form-control" @bind=_newWallet.WalletName /></td>
                </tr>
                <tr>
                    <td>Wallet Id</td>
                    <td><input type="text" class="form-control" @bind=_newWallet.WalletId /></td>
                </tr>
                <tr>
                    <td>Broker Id</td>
                    <td><input type="text" class="form-control" @bind=_newWallet.BrokerId /></td>
                </tr>
                <tr>
                    <td>Account Id</td>
                    <td><input type="text" class="form-control" @bind=_newWallet.AccountId /></td>
                </tr>
            </table>
            @if (_addWalletWindowException)
            {
                <H3>@_addWalletWindowExceptionText</H3>
            }
        </BaseTwoButtonsDialog>
    </div>
}

@if (_removeWalletWindowOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Market Trade"
            OnClose="@OnCloseRemoveWalletWindow"
            YesButtonCaption="Execute"
            NoButtonCaption="Cancel"
            OnSubmit="@OnSubmitRemoveWalletWindow">
            <table>
                <tr>
                    <td>Wallet Name</td>
                    <select @bind="@_removeWalletRequest.Name">
                        @foreach (var name in Balances.Select(e => e.WalletName).Distinct())
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
            </table>
            @if (_removeWalletWindowException)
            {
                <H3>@_removeWalletWindowExceptionText</H3>
            }
        </BaseTwoButtonsDialog>
    </div>
}

@if (_changeMinBalanceWindowOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Market Trade"
            OnClose="@OnCloseChangeMinBalanceWindow"
            YesButtonCaption="Execute"
            NoButtonCaption="Cancel"
            OnSubmit="@OnSubmitChangeMinBalanceWindow">
            <table>
                <tr>
                    <td>Wallet Name</td>
                    <td>@_newWallet.WalletName</td>
                </tr>
                <tr>
                    <td>Asset</td>
                    <td>@_newWallet.Asset</td>
                </tr>
                <tr>
                    <td>Min balance in USD</td>
                    <td><input type="number" class="form-control" @bind=_newWallet.MinBalanceInUsd/></td>
                </tr>
            </table>
           @if (_changeMinBalanceWindowException)
           {
               <H3>@_changeMinBalanceWindowExceptionText</H3>
           }
        </BaseTwoButtonsDialog>
    </div>
}

@code {

    private List<InternalWalletBalance> Balances { get; set; } = new();
    
    private bool _addWalletWindowOpen = false;
    private bool _addWalletWindowException = false;
    private string _addWalletWindowExceptionText = string.Empty;
    private AddNewWalletRequest _newWallet = new();
    
    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        Balances = new List<InternalWalletBalance>();
        var response = await _internalWalletObserverService.GetWalletsAsync();
        if (response.Success && response.WalletList != null)
        {
            Balances = response.WalletList;
        }
        StateHasChanged();
    }

    private void AddWallet()
    {
        _addWalletWindowOpen = true;
        _newWallet = new AddNewWalletRequest();
    }

    private void OnCloseAddWalletWindow()
    {
        _addWalletWindowOpen = false;
        _addWalletWindowException = false;
        _addWalletWindowExceptionText = string.Empty;
        _newWallet = new AddNewWalletRequest();
        
        StateHasChanged();
    }

    private async Task OnSubmitAddWalletWindow()
    {
        var response = await _internalWalletObserverService.UpsertWalletAsync(_newWallet);
        if (!response.Success)
        {
            _addWalletWindowException = true;
            _addWalletWindowExceptionText = response.ErrorMessage;
            return;
        }
        await RefreshData();
        OnCloseAddWalletWindow();
    }
    private bool _changeMinBalanceWindowOpen = false;
    private bool _changeMinBalanceWindowException = false;
    private string _changeMinBalanceWindowExceptionText = string.Empty;
    
    
    private void ChangeMinBalance(string wallet, string asset)
    {
        _changeMinBalanceWindowOpen = true;
        _newWallet = new()
        {
            WalletName = wallet,
            Asset = asset
        };
    }
    
    private void OnCloseChangeMinBalanceWindow()
    {
        _changeMinBalanceWindowOpen = false;
        _changeMinBalanceWindowException = false;
        _changeMinBalanceWindowExceptionText = string.Empty;
        _newWallet = new AddNewWalletRequest();
        
        StateHasChanged();
    }

    private async Task OnSubmitChangeMinBalanceWindow()
    {
        var response = await _internalWalletObserverService.UpsertWalletAsync(_newWallet);
        if (!response.Success)
        {
            _changeMinBalanceWindowException = true;
            _changeMinBalanceWindowExceptionText = response.ErrorMessage;
            return;
        }
        await RefreshData();
        OnCloseChangeMinBalanceWindow();
    }

    private bool _removeWalletWindowOpen = false;
    private bool _removeWalletWindowException = false;
    private string _removeWalletWindowExceptionText = string.Empty;
    private RemoveWalletRequest _removeWalletRequest = new();
    
    private void RemoveWallet()
    {
        _removeWalletWindowOpen = true;
        _removeWalletRequest = new RemoveWalletRequest();
    }
    
    private void OnCloseRemoveWalletWindow()
    {
        _removeWalletWindowOpen = false;
        _removeWalletWindowException = false;
        _removeWalletWindowExceptionText = string.Empty;
        _removeWalletRequest = new RemoveWalletRequest();
        
        StateHasChanged();
    }

    private async Task OnSubmitRemoveWalletWindow()
    {
        var response = await _internalWalletObserverService.RemoveWalletAsync(_removeWalletRequest);
        if (!response.Success)
        {
            _removeWalletWindowException = true;
            _removeWalletWindowExceptionText = response.ErrorMessage;
            return;
        }
        await RefreshData();
        OnCloseRemoveWalletWindow();
    }
}