@using Backoffice.Services.Fees.Settings
@using Service.Fees.Domain.Models
@using Backoffice.Abstractions.Models
@inject IFeesSettingsManager FeesSettingsManager;
@inject IToaster ToastService;


<tr>
    <td>@Item.BrokerId</td>
    <td>@Item.AccountId</td>
    <td>@Item.WalletId</td>

    <td>
        <ul class="nav">
            <li><button type="button" class="btn-outline-info btn" @onclick="ShowDetails" >Details</button></li>
            <li><button type="button" class="btn-outline-warning btn" @onclick="ShowEdit" >Edit</button></li>
            <li><button type="button" class="btn-outline-danger btn" @onclick="ShowDelete" >Delete</button></li>
        </ul>
    </td>
</tr>

@if (IsShowDetails)
{
    <FeesSettingsDetailsDialog Item="@Item" OnCloseCallback="OnCloseFeesSettingsDialog" />
}

@if (IsShowEdit)
{
    <div>
        <FeesSettingsDetailsDialogEdit Item="@Item" IsCreate="false" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="OnUpdateFeesSettings" />
    </div>
}

@if (IsShowDelete)
{
    <div>
        <BaseTwoButtonsDialog
            Caption=@($"Delete fees settings {Item.BrokerId}")
            OnClose="OnCloseDeleteDialog"
            YesButtonCaption="Delete"
            NoButtonCaption="Cancel"
            OnSubmit="DeleteItem">
            
            <h3 class="alert-warning">Are you sure you want to delete the fees settings <b>@Item.BrokerId</b>?</h3>
            
        </BaseTwoButtonsDialog>
    </div>
}



@code {
    
    [Parameter]
    public FeesSettings Item { get; set; }

    [Parameter]
    public ILoaderConfiguration LoaderConfig { get; set; }
    
    [Parameter]
    public EventCallback<FeesSettings> OnDeleteCallback { get; set; }
    
    private bool IsShowDetails { get; set; }
    
    private bool IsShowEdit { get; set; }
    
    private bool IsShowDelete { get; set; }

    private void OnCloseFeesSettingsDialog()
    {
        IsShowDetails = false;
        StateHasChanged();
    }

    private void ShowDetails()
    {
        IsShowDetails = true;
        StateHasChanged();
    }

    private void ShowEdit()
    {
        IsShowEdit = true;
        StateHasChanged();
    }

    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }
    
    private async void OnUpdateFeesSettings(FeesSettings item)
    {
        try
        {
            await FeesSettingsManager.UpdateFeesSettings(item);

            IsShowEdit = false;

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Edit fees settings");
        }
    }


    private void OnCloseDeleteDialog()
    {
        IsShowDelete = false;
        StateHasChanged();
    }


    private async Task DeleteItem()
    {
        IsShowDelete = false;
        await OnDeleteCallback.InvokeAsync(Item);
    }

    private void ShowDelete()
    {
        IsShowDelete = true;
        StateHasChanged();
    }
}
