@using Service.Liquidity.Engine.Grpc
@using Service.Liquidity.Engine.Grpc.Models
@using MyJetWallet.Domain.ExternalMarketApi.Models

@inject IExternalMarketsGrpc ExternalMarketsManager

<ul class="nav nav-tabs nav-pills">
    @foreach (var market in MarketList)
    {
        <li class="nav-item" style="margin: 10px">
            <button class="nav-link " aria-current="page" @onclick="@(() => SetMarket(market))">@market</button>
        </li>
    }
</ul>

@if (!string.IsNullOrEmpty(ActiveMarket))
{
    <div class="row">
        <h3 style="margin: 10px">@ActiveMarket</h3>
    </div>
    <div class="row">
        <table class="table" style="width: auto">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Base</th>
                <th>Quote</th>
                <th>Min Volume</th>
                <th>Price accuracy</th>
                <th>Volume Accuracy</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var instrument in Instruments)
            {
                <tr>
                    <td>@instrument.Market</td>
                    <td>@instrument.BaseAsset</td>
                    <td>@instrument.QuoteAsset</td>
                    <td>@((decimal)instrument.MinVolume)</td>
                    <td>@instrument.PriceAccuracy</td>
                    <td>@instrument.VolumeAccuracy</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}


@code {

    private List<string> MarketList { get; set; } = new ();
    private List<ExchangeMarketInfo> Instruments { get; set; } = new();
    private string ActiveMarket { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var marketsResp = await ExternalMarketsManager.GetExternalMarketListAsync();
        MarketList = marketsResp.Data.List ?? new List<string>();

        Instruments = new();
        ActiveMarket = string.Empty;
    }

    private async Task SetMarket(string market)
    {
        var resp = await  ExternalMarketsManager.GetInstrumentsAsync(new SourceDto()
        {
            Source = market
        });

        Instruments = resp.Data.List ?? new List<ExchangeMarketInfo>();
        ActiveMarket = market;
        
        StateHasChanged();
    }

    



}