@using Service.Liquidity.Portfolio.Grpc
@using Service.Liquidity.Portfolio.Domain.Models
@using Service.Liquidity.Portfolio.Grpc.Models
@using Backoffice.Components.Liquidity.AssetPortfolio
@using Backoffice.Services.SpotInstruments
@using DotNetCoreDecorators
@using Microsoft.Extensions.Logging
@using MyJetWallet.Sdk.Service
@using MyJetWallet.Sdk.Service.Tools
@using Service.Liquidity.Portfolio.Grpc.Models
@using Service.Liquidity.PortfolioHedger.Grpc
@using Service.Liquidity.PortfolioHedger.Grpc.Models
@using Syncfusion.Blazor.Diagram
@using System.Diagnostics
@using MyNoSqlServer.Abstractions
@using Service.Liquidity.Engine.Grpc
@using Service.Liquidity.Monitoring.Domain.Models
@using Service.Liquidity.PortfolioHedger.Domain.Models

@inject ILpWalletManagerGrpc _lpWalletManagerGrpc
@inject IAssetPortfolioService _assetPortfolioService
@inject IManualTradeService _manualTradeService;
@inject ISpotInstrumentManager _spotInstrumentManager;
@inject ILogger<AssetPortfolioComponent> _logger;
@inject IMyNoSqlServerDataReader<AssetPortfolioBalanceNoSql> _portfolioBalanceNoSql;
@inject IMyNoSqlServerDataReader<AssetPortfolioStatusNoSql> _portfolioStatusNoSql;

@implements IDisposable;

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.AssetPortfolio)" aria-current="page" @onclick="SetAssetPortfolio" >Asset Portfolio</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.Trades)" aria-current="page" @onclick="SetTrades" >Trades</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.ChangeBalanceHistory)" aria-current="page" @onclick="SetChangeBalanceHistory" >Change Balance History</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.SettlementHistory)" aria-current="page" @onclick="SetSettlementHistory" >Settlement History</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.Settings)" aria-current="page" @onclick="SetSettings" >Settings</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.Simulation)" aria-current="page" @onclick="SetSimulation" >Simulation</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.ExchangeSettings)" aria-current="page" @onclick="SetExchangeSettings" >Exchange Settings</button>
    </li>
</ul>

@if (ActivePage == AssetPortfolioPages.AssetPortfolio)
{
    <ul class="nav">
        <li><button type="button" class="btn-outline-secondary btn" @onclick="Refresh">Refresh</button></li>
        <li><button type="button" class="btn-outline-warning btn" @onclick="ShowChangeBalanceWindow">Change balance</button></li>
        <li><button type="button" class="btn-outline-warning btn" @onclick="ShowReportSettlementWindow">Report settlement</button></li>
        <li><button type="button" class="btn-outline-secondary btn" @onclick="ReportTrade">Report trade</button></li>
    </ul>
    <table class="table" style="width: auto">
        <thead>
        <tr>
            <th></th>
            @foreach (var wallet in _balanceByWallets.OrderByDescending(elem => elem.IsInternal))
            {
                <th style="background: @GetWalletStyle(wallet)">@wallet.WalletName</th>
            }
            <th style="background: lightgray">NET</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>NET USD</b></td>
            @foreach (var wallet in _balanceByWallets.OrderByDescending(elem => elem.IsInternal))
            {
                <td>@Math.Round(wallet.NetUsdVolume, 2)</td>
            }
            <td style="background: lightgray"><b>@Math.Round(_balanceByWallets.Sum(elem => elem.NetUsdVolume), 2)</b></td>
        </tr>
        <tr>
            <td><b>UNRELEASED PNL</b></td>
            @foreach (var wallet in _balanceByWallets.OrderByDescending(elem => elem.IsInternal))
            {
                <td>@Math.Round(wallet.UnreleasedPnlUsd, 2)</td>
            }
            <td style="background: lightgray"><b>@Math.Round(_balanceByWallets.Sum(elem => elem.UnreleasedPnlUsd), 2)</b></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <table class="table" style="width: auto">
        <thead>
        <tr>
            <th>Asset</th>
            @foreach (var wallet in _balanceByWallets.OrderByDescending(elem => elem.IsInternal))
            {
                <th style="background: @GetWalletStyle(wallet)">@wallet.WalletName</th>
            }
            <th style="background: lightgray">NET</th>
            <th style="background: lightgray">Asset Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var netBalanceByAsset in _balanceByAssets)
        {
            AssetPortfolioStatus status;
            {
                _portfolioStatuses.TryGetValue(netBalanceByAsset.Asset, out status);
            }
            <tr style="background: @GetAssetBackgroundStyle(status)">
                <td>
                    <b>@netBalanceByAsset.Asset</b>
                </td>
                @foreach (var wallet in _balanceByWallets.OrderByDescending(elem => elem.IsInternal))
                {
                    <td>
                        @if (netBalanceByAsset.WalletBalances.First(elem => elem.WalletName == wallet.WalletName).NetVolume != 0)
                        {
                            <span><b>@Math.Round(netBalanceByAsset.WalletBalances.First(elem => elem.WalletName == wallet.WalletName).NetVolume, 8)</b></span>
                            <br>
                            <span>USD: @Math.Round(netBalanceByAsset.WalletBalances.First(elem => elem.WalletName == wallet.WalletName).NetUsdVolume, 2)</span>
                            <br>
                            <span>Open Price: @Math.Round(netBalanceByAsset.WalletBalances.First(elem => elem.WalletName == wallet.WalletName).OpenPrice, 2)</span>
                            <br>
                            <span>Unreleased Pnl: @Math.Round(netBalanceByAsset.WalletBalances.First(elem => elem.WalletName == wallet.WalletName).UnreleasedPnlUsd, 2)</span>
                        }
                    </td>
                }
                <td style="background: lightgray">
                    <span><b>@Math.Round(netBalanceByAsset.NetVolume, 8)</b></span>
                    <br>
                    <span>USD: @Math.Round(netBalanceByAsset.NetUsdVolume, 2)</span>
                    <br>
                    <span>Open Price Avg: @Math.Round(netBalanceByAsset.OpenPriceAvg, 2)</span>
                    <br>
                    <span>Unreleased Pnl: @Math.Round(netBalanceByAsset.UnrealisedPnl, 2)</span>
                </td>
                <td style="background: @GetAssetBackgroundStyle(status)">
                    @if (status?.UplStrike != 0) 
                    {
                        <span><b>UPL Limit: @status.UplStrike</b></span>
                    }
                    <br>
                    @if (status?.NetUsdStrike != 0) 
                    {
                        <span><b>NETUSD Limit: @status.NetUsdStrike</b></span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@if (ActivePage == AssetPortfolioPages.Trades)
{
    <LeTradePortolioComponent />
}
@if (ActivePage == AssetPortfolioPages.ChangeBalanceHistory)
{
    <LeChangeBalanceHistoryComponent />
}
@if (ActivePage == AssetPortfolioPages.Settings)
{
    <LeAssetPorfolioSettingsComponent />
}
@if (ActivePage == AssetPortfolioPages.Simulation)
{
    <LePortfolioSimulationComponent />
}
@if (ActivePage == AssetPortfolioPages.ExchangeSettings)
{
    <LeExternalExchangeSettingsComponent />
}
@if (ActivePage == AssetPortfolioPages.SettlementHistory)
{
    <LeSettlementHistoryComponent />
}

@if (IsShowEdit)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Change balance"
            OnClose="@OnCloseChangeBalanceWindow"
            YesButtonCaption="Save"
            NoButtonCaption="Cancel"
            OnSubmit="@SaveBalance">
            <table>
                <tr>
                    <td>BrokerId</td>
                    <select @bind="@BrokerId">
                        @foreach (var name in BrokerList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Wallet Name</td>
                    <select @bind="@WalletName">
                        @foreach (var name in WalletList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Asset</td>
                    <select @bind="@Asset">
                        @foreach (var name in AllAssets)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>New Balance</td>
                    <td><input type="number" class="form-control" @bind=BalanceDiff /></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><input type="text" class="form-control" @bind=Comment /></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input type="text" class="form-control" @bind=User /></td>
                </tr>
            </table>
            @if (ChangeBalanceWindowException)
            {
                <H3>@ChangeBalanceWindowExceptionText</H3>
            }
        </BaseTwoButtonsDialog>
    </div>
}

@if (MarketTradeWindowOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Market Trade"
            OnClose="@OnCloseMarketTradeWindow"
            YesButtonCaption="Save"
            NoButtonCaption="Cancel"
            OnSubmit="@PushMarketTrade">
            <table>
                <tr>
                    <td>Wallet Name</td>
                    <select @bind="@ExchangeName">
                        @foreach (var name in ExchangeList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Base Asset</td>
                    <select @bind="@BaseAsset">
                        @foreach (var name in AllAssets)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Quote Asset</td>
                    <select @bind="@QuoteAsset">
                        @foreach (var name in AllAssets)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Market</td>
                    <td><input type="text" class="form-control" @bind=Market /></td>
                </tr>
                <tr>
                    <td>Associate Broker Id</td>
                    <td><input type="text" class="form-control" @bind=AssociateBrokerId /></td>
                </tr>
                <tr>
                    <td>Base Volume</td>
                    <td><input type="number" class="form-control" @bind=BaseVolume /></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><input type="text" class="form-control" @bind=Comment /></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input type="text" class="form-control" @bind=User /></td>
                </tr>
            </table>
           @if (MarketTradeWindowException)
           {
               <H3>@MarketTradeWindowExceptionText</H3>
           }
        </BaseTwoButtonsDialog>
    </div>
}

@if (_hedgeConvertWindowOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Hedge Portfolio"
            OnClose="@CloseHedgeConvertWindow"
            YesButtonCaption="Execute"
            NoButtonCaption="Cancel"
            OnSubmit="@ExecuteHedgeConvert">
            <table>
                <tr>
                    <td>From Asset</td>
                    <select @bind="@HedgeConvertRequest.FromAsset">
                        @foreach (var name in AllAssets)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>To Asset</td>
                    <select @bind="@HedgeConvertRequest.ToAsset">
                        @foreach (var name in AllAssets)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>From Asset Volume</td>
                    <td><input type="number" class="form-control" @bind=HedgeConvertRequest.FromAssetVolume /></td>
                </tr>
            </table>
        </BaseTwoButtonsDialog>
    </div>
}

@if (IsShowReportSettlementWindow)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Report Settlement"
            OnClose="@OnCloseReportSettlementWindow"
            YesButtonCaption="Execute"
            NoButtonCaption="Cancel"
            OnSubmit="@PushSettlement">
            <table>
                <tr>
                    <td>Wallet From</td>
                    <select @bind="@_reportSettlementRequest.WalletFrom">
                        @foreach (var name in WalletList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Wallet To</td>
                    <select @bind="@_reportSettlementRequest.WalletTo">
                        @foreach (var name in WalletList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Asset</td>
                    <select @bind="@_reportSettlementRequest.Asset">
                        @foreach (var name in AllAssets)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Associate Broker Id</td>
                    <td><input type="text" class="form-control" @bind=_reportSettlementRequest.BrokerId /></td>
                </tr>
                <tr>
                    <td>Volume From</td>
                    <td><input type="number" class="form-control" @bind=_reportSettlementRequest.VolumeFrom /></td>
                </tr>
                <tr>
                    <td>Volume To</td>
                    <td><input type="number" class="form-control" @bind=_reportSettlementRequest.VolumeTo /></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><input type="text" class="form-control" @bind=_reportSettlementRequest.Comment /></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input type="text" class="form-control" @bind=_reportSettlementRequest.User /></td>
                </tr>
            </table>
            @if (ReportSettlementWindowException)
            {
                <H3>@ReportSettlementWindowExceptionText</H3>
            }
        </BaseTwoButtonsDialog>
    </div>
}
@if (IsCreateDialogOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Create new trade"
            OnClose="@OnCloseCreateDialog"
            YesButtonCaption="Save"
            NoButtonCaption="Cancel"
            OnSubmit="@OnSaveNewTrade">
            <table>
                <tr>
                    <td>Broker Id</td>
                    <select @bind="@NewTrade.BrokerId">
                        @foreach (var name in BrokerList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Wallet Name</td>
                    <select @bind="@NewTrade.WalletName">
                        @foreach (var name in WalletList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><input type="text" class="form-control" @bind=NewTrade.Comment/></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input type="text" class="form-control" @bind=NewTrade.User/></td>
                </tr>
                <tr>
                    <td>Instrument Symbol</td>
                    <td><input type="text" class="form-control" @bind=NewTrade.Symbol/></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="number" class="form-control" @bind=NewTrade.Price/></td>
                </tr>
                <tr>
                    <td>Base volume</td>
                    <td><input type="number" class="form-control" @bind=NewTrade.BaseVolume/></td>
                </tr>
                <tr>
                    <td>Quote volume</td>
                    <td><input type="number" class="form-control" @bind=NewTrade.QuoteVolume/></td>
                </tr>
            </table>
            @if (ShowError)
            {
                <H3>@ErrorText</H3>
            }
        </BaseTwoButtonsDialog>
    </div>
}


@code {
    private AssetPortfolioPages ActivePage { get; set; }
    private List<NetBalanceByWallet> _balanceByWallets = new();
    private List<NetBalanceByAsset> _balanceByAssets = new();
    private Dictionary<string, AssetPortfolioStatus> _portfolioStatuses = new();
    private List<string> AllAssets { get; set; }
    private List<string> BrokerList { get; set; } = new();
    private List<string> WalletList { get; set; } = new();
    
    private bool IsShowEdit { get; set; }
    private decimal BalanceDiff { get; set; }
    private string Comment { get; set; }
    private string User { get; set; }
    private string BrokerId { get; set; }
    private string WalletName { get; set; }
    private string Asset { get; set; }
    private bool ChangeBalanceWindowException { get; set; }
    private string ChangeBalanceWindowExceptionText { get; set; }
    
    private bool MarketTradeWindowOpen { get; set; }
    private List<string> ExchangeList { get; set; }
    private string ExchangeName { get; set; }
    private string AssociateBrokerId { get; set; }
    private string Market { get; set; }
    private string BaseAsset { get; set; }
    private string QuoteAsset { get; set; }
    private double BaseVolume { get; set; }
    private bool MarketTradeWindowException { get; set; }
    private string MarketTradeWindowExceptionText { get; set; }

    private ReportSettlementRequest _reportSettlementRequest = new ReportSettlementRequest();
    private bool IsShowReportSettlementWindow { get; set; }
    private bool ReportSettlementWindowException { get; set; }
    private string ReportSettlementWindowExceptionText { get; set; }

    private ExecuteManualConvertRequest HedgeConvertRequest = new ExecuteManualConvertRequest();
    private bool _hedgeConvertWindowOpen = false;

    private string _timerId = Guid.NewGuid().ToString();
    private bool _isAutoUpdate = false;
    private const string PlWalletName = "PL Balance";
    
    protected override async Task OnInitializedAsync()
    {
        await CacheAllAssets();
        await Refresh();

        _isAutoUpdate = true;
        
        await Refresh();
        
        GlobalTimers.RefreshTimer.RegisterCallback(_timerId, DoTime);
        
    }

    private async Task DoTime()
    {
        if (!_isAutoUpdate)
            return;

        await RefreshInternal();
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task Refresh()
    {
        await RefreshInternal();

        StateHasChanged();
    }
    
    private async Task RefreshInternal()
    {
        var balanceResponse = _portfolioBalanceNoSql.Get().FirstOrDefault()?.Balance;
        _balanceByWallets = balanceResponse?.BalanceByWallet ?? new List<NetBalanceByWallet>();
        _balanceByAssets = balanceResponse?.BalanceByAsset ?? new List<NetBalanceByAsset>();

        var plBalance = _balanceByWallets.FirstOrDefault(e => e.WalletName == PlWalletName);
        if (plBalance != null)
            plBalance.IsInternal = true;

        var statusResponse = _portfolioStatusNoSql.Get();
        foreach (var status in statusResponse)
        {
            _portfolioStatuses[status.AssetStatus.Asset] = status.AssetStatus;
        }
        await SetBrokersAndWallets();
        await CacheInstrumentsAndAssets();
    }

    private async Task SetBrokersAndWallets()
    {
        var lpWallets = await _lpWalletManagerGrpc.GetAllAsync();
        BrokerList = lpWallets.Data.List.Select(elem => elem.BrokerId).Distinct().ToList();
        WalletList = lpWallets.Data.List.Select(elem => elem.Name).Distinct().ToList();

        var extWallets = await _manualTradeService.GetExternalExchangeCollectionAsync();
        
        ExchangeList = extWallets.ExchangeNames;
        
        WalletList.AddRange(extWallets.ExchangeNames);
        WalletList.Add(PlWalletName);
    }

    private async Task SetAssetPortfolio()
    {
        ActivePage = AssetPortfolioPages.AssetPortfolio;
        await Refresh();
    }
    private void SetTrades()
    {
        ActivePage = AssetPortfolioPages.Trades;
        StateHasChanged();
    }

    private void SetChangeBalanceHistory()
    {
        ActivePage = AssetPortfolioPages.ChangeBalanceHistory;
        StateHasChanged();
    }
    
    public enum AssetPortfolioPages
    {
        AssetPortfolio,
        Trades,
        ChangeBalanceHistory,
        SettlementHistory,
        Settings,
        Simulation,
        ExchangeSettings
    }
    
    private async Task CacheAllAssets()
    {
        var instruments = await _spotInstrumentManager.GetAll();

        AllAssets = new List<string>();
        
        instruments.ForEach(instrument =>
        {
            AllAssets.Add(instrument.Instrument.BaseAsset);
            AllAssets.Add(instrument.Instrument.QuoteAsset);
        });

        AllAssets = AllAssets.Distinct().ToList();
    }
    
    private string CheckActive(AssetPortfolioPages target)
    {
        return ActivePage == target ? "active" : "";
    }
    
    private void ShowChangeBalanceWindow()
    {
        IsShowEdit = true;
        Comment = string.Empty;
        User = string.Empty;
        WalletName = string.Empty;
        Asset = string.Empty;
        BalanceDiff = 0;
        ChangeBalanceWindowException = false;
        ChangeBalanceWindowExceptionText = string.Empty;
        
        StateHasChanged();
    }
    
    private void OnCloseChangeBalanceWindow()
    {
        IsShowEdit = false;
        Comment = string.Empty;
        User = string.Empty;
        WalletName = string.Empty;
        Asset = string.Empty;
        BalanceDiff = 0;
        ChangeBalanceWindowException = false;
        ChangeBalanceWindowExceptionText = string.Empty;
        
        StateHasChanged();
    }
    
    private async void SaveBalance()
    {
        if (string.IsNullOrEmpty(BrokerId) && 
            _balanceByWallets.Select(elem => elem.BrokerId).Distinct().Count() == 1)
        {
            BrokerId = _balanceByWallets.First().BrokerId;
        }
        if (string.IsNullOrEmpty(WalletName) && _balanceByWallets.Count() == 1)
        {
            WalletName = _balanceByWallets.First().WalletName;
        }
        if (string.IsNullOrEmpty(Asset) && _balanceByAssets.Count() == 1)
        {
            Asset = _balanceByAssets.First().Asset;
        }

        if (BalanceDiff != 0 &&
            !string.IsNullOrWhiteSpace(Asset) &&
            !string.IsNullOrWhiteSpace(Comment) &&
            !string.IsNullOrWhiteSpace(User) &&
            !string.IsNullOrWhiteSpace(BrokerId) &&
            !string.IsNullOrWhiteSpace(WalletName))
        {
            var response = await _assetPortfolioService.SetBalance(new SetBalanceRequest()
            {
                BrokerId = BrokerId,
                WalletName = WalletName,
                Asset = Asset,
                BalanceDifference = BalanceDiff,
                Comment = Comment,
                User = User
            });
            await Refresh();
            OnCloseChangeBalanceWindow();
        }
        
        ChangeBalanceWindowException = true;
        ChangeBalanceWindowExceptionText = "Bad entity";
    }

    private void SetSettings()
    {
        ActivePage = AssetPortfolioPages.Settings;
        StateHasChanged();
    }
    private void SetSimulation()
    {
        ActivePage = AssetPortfolioPages.Simulation;
        StateHasChanged();
    }

    private void SetExchangeSettings()
    {
        ActivePage = AssetPortfolioPages.ExchangeSettings;
        StateHasChanged();
    }
    private void SetSettlementHistory()
    {
        ActivePage = AssetPortfolioPages.SettlementHistory;
        StateHasChanged();
    }

    private async Task CreateMarketTrade()
    {
        MarketTradeWindowOpen = true;
        
        ExchangeName = string.Empty;
        Market = string.Empty;
        BaseVolume = 0;
        AssociateBrokerId = "jetwallet";
        BaseAsset = string.Empty;
        QuoteAsset = string.Empty;
        Comment = string.Empty;
        User = string.Empty;
        
        MarketTradeWindowException = false;
        MarketTradeWindowExceptionText = string.Empty;
        
        StateHasChanged();
    }

    private async Task PushMarketTrade()
    {
        var request = new CreateManualTradeRequest()
        {
            ExchangeName = ExchangeName,
            BaseVolume = BaseVolume,
            Market = Market,
            AssociateBrokerId = AssociateBrokerId,
            BaseAsset = BaseAsset,
            QuoteAsset = QuoteAsset,
            Comment = Comment,
            User = User
        };
        var response = await _manualTradeService.CreateManualTradeAsync(request);

        if (!response.Success)
        {
            MarketTradeWindowException = true;
            MarketTradeWindowExceptionText = response.ErrorMessage;
            return;
        }
        await OnCloseMarketTradeWindow();
    }

    private async Task OnCloseMarketTradeWindow()
    {
        MarketTradeWindowOpen = false;
        StateHasChanged();
    }

    private string GetAssetBackgroundStyle(AssetPortfolioStatus status)
    {
        if (status.UplStrike != 0 || status.NetUsdStrike != 0)
        {
            return "lightcoral";
        }
        return string.Empty;
    }

    private string GetWalletStyle(NetBalanceByWallet wallet)
    {
        var color = wallet.IsInternal
            ? string.Empty
            : "gainsboro";
        return color;
    }

    public void Dispose()
    {
        _isAutoUpdate = false;
        GlobalTimers.RefreshTimer.RemoveCallback(_timerId);
    }

    private void OpenHedgeConvertWindow()
    {
        return;
        HedgeConvertRequest = new ExecuteManualConvertRequest();
        _hedgeConvertWindowOpen = true;
        
        StateHasChanged();
    }

    private void ExecuteHedgeConvert()
    {
        //_hedgePortfolioService.ExecuteManualConvert(HedgeConvertRequest);
        CloseHedgeConvertWindow();
    }

    private void CloseHedgeConvertWindow()
    {
        _hedgeConvertWindowOpen = false;
        HedgeConvertRequest = new ExecuteManualConvertRequest();
        StateHasChanged();
    }

    private void ShowReportSettlementWindow()
    {
        IsShowReportSettlementWindow = true;
        _reportSettlementRequest = new ReportSettlementRequest()
        {
            BrokerId = "jetwallet"
        };
        StateHasChanged();
    }

    private async Task PushSettlement()
    {
        var response = await _assetPortfolioService.ReportSettlement(_reportSettlementRequest);

        if (!response.Success)
        {
            ReportSettlementWindowException = true;
            ReportSettlementWindowExceptionText = response.ErrorMessage;
            return;
        }
        await Refresh();
        OnCloseReportSettlementWindow();
    }

    private void OnCloseReportSettlementWindow()
    {
        ReportSettlementWindowException = false;
        ReportSettlementWindowExceptionText = string.Empty;
        IsShowReportSettlementWindow = false;
        _reportSettlementRequest = new ReportSettlementRequest();
        
        StateHasChanged();
    }
    
    private bool IsCreateDialogOpen { get; set; }
    private ReportManualTradeRequest NewTrade { get; set; }
    private bool ShowError { get; set; }
    private string ErrorText { get; set; }
    private List<SpotInstrumentItem> AllInstruments { get; set; }
    private List<string> AssetCollection { get; set; }
    
    private void ReportTrade()
    {
        NewTrade = new ReportManualTradeRequest();
        IsCreateDialogOpen = true;
    }
    private async void OnSaveNewTrade()
    {
        if (string.IsNullOrEmpty(NewTrade.BrokerId) && BrokerList.Count() == 1)
        {
            NewTrade.BrokerId = BrokerList.First();
        }
        if (string.IsNullOrEmpty(NewTrade.WalletName) && WalletList.Count() == 1)
        {
            NewTrade.WalletName = WalletList.First();
        }
        
        var instrumentExist = AllInstruments.Any(elem => elem.Instrument.Symbol == NewTrade.Symbol);

        if (!instrumentExist)
        {
            ShowError = true;
            ErrorText = "Instrument not found";
            StateHasChanged();
            return;
        }

        var response = await _manualTradeService.ReportManualTradeAsync(NewTrade);
        if (response.Success)
        {
            await Refresh();
            OnCloseCreateDialog();
        } else 
        {
            ShowError = true;
            ErrorText = response.ErrorMessage;
            StateHasChanged();
        }
    }

    private void OnCloseCreateDialog()
    {
        IsCreateDialogOpen = false;
        ShowError = false;
        ErrorText = string.Empty;
        StateHasChanged();
    }
    
    private async Task CacheInstrumentsAndAssets()
    {
        AssetCollection = new List<string>();
        
        AllInstruments = await _spotInstrumentManager.GetAll();
        AllInstruments.ForEach(instrument =>
        {
            AssetCollection.Add(instrument.Instrument.BaseAsset);
            AssetCollection.Add(instrument.Instrument.QuoteAsset);
        });

        AssetCollection = AssetCollection.Distinct().ToList();
    }
}