@using Service.Liquidity.Portfolio.Grpc
@using Service.Liquidity.Portfolio.Domain.Models
@using Service.Liquidity.Portfolio.Grpc.Models
@using Backoffice.Components.Liquidity.AssetPortfolio
@using Backoffice.Services.SpotInstruments
@using DotNetCoreDecorators
@using Service.Liquidity.Portfolio.Grpc.Models.GetBalances
@using Service.Liquidity.PortfolioHedger.Grpc
@using Service.Liquidity.PortfolioHedger.Grpc.Models

@inject IAssetPortfolioService _assetPortfolioService
@inject IExternalExchangeTradeService _externalExchangeTradeService;
@inject ISpotInstrumentManager _spotInstrumentManager;

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.AssetPortfolio)" aria-current="page" @onclick="SetAssetPortfolio" >Asset Portfolio</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.Trades)" aria-current="page" @onclick="SetTrades" >Trades</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(AssetPortfolioPages.ChangeBalanceHistory)" aria-current="page" @onclick="SetChangeBalanceHistory" >Change Balance History</button>
    </li>
        <li class="nav-item" style="margin: 10px">
            <button class="nav-link @CheckActive(AssetPortfolioPages.Settings)" aria-current="page" @onclick="SetSettings" >Settings</button>
        </li>
</ul>

@if (ActivePage == AssetPortfolioPages.AssetPortfolio)
{
    <ul class="nav">
        <li><button type="button" class="btn-outline-secondary btn" @onclick="Refresh">Refresh</button></li>
        <li><button type="button" class="btn-outline-warning btn" @onclick="ShowEdit">Change balance</button></li>
        <li><button type="button" class="btn-outline-warning btn" @onclick="CreateMarketTrade">Create Market Trade</button></li>
    </ul>
    <table class="table" style="width: auto; background: lightgray">
        <thead>
        <tr>
            <th></th>
            @foreach (var wallet in _balanceByWallets)
            {
                <th>@wallet.WalletName</th>
            }
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><b>NET USD</b></td>
        @foreach (var wallet in _balanceByWallets)
        {
            <td>@Math.Round(wallet.NetUsdVolume, 2)</td>
        }
        <td><b>@Math.Round(_balanceByWallets.Sum(elem => elem.NetUsdVolume), 2)</b></td>
        </tr>
        </tbody>
    </table>

    <table class="table" style="width: auto">
        <thead>
        <tr>
            <th>Asset</th>
            @foreach (var wallet in _balanceByWallets.OrderBy(elem => elem.WalletName))
            {
                <th>@wallet.WalletName</th>
            }
            <th style="background: lightgray">NET</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var netBalanceByAsset in _balanceByAssets)
        {
            <tr style="background: @GetAssetBackgroundStyle(netBalanceByAsset)">
                <td>
                    <b>@netBalanceByAsset.Asset</b>
                    @if (netBalanceByAsset.BalanceState != AssetBalanceState.Undefined && netBalanceByAsset.BalanceState != AssetBalanceState.Normal)
                    {
                        <br>
                        <span>@netBalanceByAsset.BalanceState</span>
                    }
                </td>
                @foreach (var wallet in _balanceByWallets.OrderBy(elem => elem.WalletName))
                {
                    <td>
                        @if (netBalanceByAsset.WalletBalances.First(elem => elem.WalletName == wallet.WalletName).NetVolume != 0)
                        {
                            <span><b>@Math.Round(netBalanceByAsset.WalletBalances.First(elem => elem.WalletName == wallet.WalletName).NetVolume, 8)</b></span>
                            <br>
                            <span>USD: @Math.Round(netBalanceByAsset.WalletBalances.First(elem => elem.WalletName == wallet.WalletName).NetUsdVolume, 2)</span>
                        }
                    </td>
                }
                <td style="background: lightgray">
                    <span><b>@Math.Round(netBalanceByAsset.NetVolume, 8)</b></span>
                    <br>
                    <span>USD: @Math.Round(netBalanceByAsset.NetUsdVolume, 2)</span>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@if (ActivePage == AssetPortfolioPages.Trades)
{
    <LeTradePortolioComponent />
}
@if (ActivePage == AssetPortfolioPages.ChangeBalanceHistory)
{
    <LeChangeBalanceHistoryComponent />
}
@if (ActivePage == AssetPortfolioPages.Settings)
{
    <LeAssetPorfolioSettingsComponent />
}

@if (IsShowEdit)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Change balance"
            OnClose="@OnCloseEditDialog"
            YesButtonCaption="Save"
            NoButtonCaption="Cancel"
            OnSubmit="@SaveBalance">
            <table>
                <tr>
                    <td>BrokerId</td>
                    <select @bind="@BrokerId">
                        @foreach (var name in _balanceByWallets.Select(elem => elem.BrokerId).Distinct())
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Wallet Name</td>
                    <select @bind="@WalletName">
                        @foreach (var name in _balanceByWallets.Select(elem => elem.WalletName))
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Asset</td>
                    <select @bind="@Asset">
                        @foreach (var name in _balanceByAssets.Select(elem => elem.Asset))
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Balance difference</td>
                    <td><input type="number" class="form-control" @bind=BalanceDiff /></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><input type="text" class="form-control" @bind=Comment /></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input type="text" class="form-control" @bind=User /></td>
                </tr>
            </table>
        </BaseTwoButtonsDialog>
    </div>
}

@if (MarketTradeWindowOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Market Trade"
            OnClose="@OnCloseMarketTradeWindow"
            YesButtonCaption="Save"
            NoButtonCaption="Cancel"
            OnSubmit="@PushMarketTrade">
            <table>
                <tr>
                    <td>Wallet Name</td>
                    <select @bind="@ExchangeName">
                        @foreach (var name in ExchangeList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Market</td>
                    <td><input type="text" class="form-control" @bind=Market /></td>
                </tr>
                <tr>
                    <td>Base Volume</td>
                    <td><input type="number" class="form-control" @bind=BaseVolume /></td>
                </tr>
                <tr>
                    <td>Associate Broker Id</td>
                    <td><input type="text" class="form-control" @bind=AssociateBrokerId /></td>
                </tr>
                <tr>
                    <td>Base Asset</td>
                    <select @bind="@BaseAsset">
                        @foreach (var name in AllAssets)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                    </tr>
                <tr>
                    <td>Quote Asset</td>
                    <select @bind="@QuoteAsset">
                        @foreach (var name in AllAssets)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><input type="text" class="form-control" @bind=Comment /></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input type="text" class="form-control" @bind=User /></td>
                </tr>
                @if (MarketTradeWindowException)
                {
                    <tr>
                        <td>@MarketTradeWindowExceptionText</td>
                    </tr>
                }
            </table>
        </BaseTwoButtonsDialog>
    </div>
}


@code {
    private AssetPortfolioPages ActivePage { get; set; }
    private List<NetBalanceByWallet> _balanceByWallets = new();
    private List<NetBalanceByAsset> _balanceByAssets = new();
    private List<string> AllAssets { get; set; }
    
    private bool IsShowEdit { get; set; }
    private double BalanceDiff { get; set; }
    private string Comment { get; set; }
    private string User { get; set; }
    private string BrokerId { get; set; }
    private string WalletName { get; set; }
    private string Asset { get; set; }
    
    private bool MarketTradeWindowOpen { get; set; }
    private List<string> ExchangeList { get; set; }
    private string ExchangeName { get; set; }
    private string AssociateBrokerId { get; set; }
    private string Market { get; set; }
    private string BaseAsset { get; set; }
    private string QuoteAsset { get; set; }
    private double BaseVolume { get; set; }
    private bool MarketTradeWindowException { get; set; }
    private string MarketTradeWindowExceptionText { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await CacheAllAssets();
        await Refresh();
    }
    
    private async Task Refresh()
    {
        var response = await _assetPortfolioService.GetBalancesAsync();
        _balanceByWallets = response.BalanceByWallet ?? new List<NetBalanceByWallet>();
        _balanceByAssets = response.BalanceByAsset ?? new List<NetBalanceByAsset>();

        var exchangeCollectionResponse = await _externalExchangeTradeService.GetExternalExchangeCollectionAsync();
        ExchangeList = exchangeCollectionResponse.ExchangeNames;
        
        StateHasChanged();
    }

    private async Task SetAssetPortfolio()
    {
        ActivePage = AssetPortfolioPages.AssetPortfolio;
        await Refresh();
        StateHasChanged();
    }
    private void SetTrades()
    {
        ActivePage = AssetPortfolioPages.Trades;
        StateHasChanged();
    }

    private void SetChangeBalanceHistory()
    {
        ActivePage = AssetPortfolioPages.ChangeBalanceHistory;
        StateHasChanged();
    }
    
    public enum AssetPortfolioPages
    {
        AssetPortfolio,
        Trades,
        ChangeBalanceHistory,
        Settings
    }
    
    private async Task CacheAllAssets()
    {
        var instruments = await _spotInstrumentManager.GetAll();

        AllAssets = new List<string>();
        
        instruments.ForEach(instrument =>
        {
            AllAssets.Add(instrument.Instrument.BaseAsset);
            AllAssets.Add(instrument.Instrument.QuoteAsset);
        });

        AllAssets = AllAssets.Distinct().ToList();
    }
    
    private string CheckActive(AssetPortfolioPages target)
    {
        return ActivePage == target ? "active" : "";
    }
    
    private void ShowEdit()
    {
        IsShowEdit = true;
        Comment = string.Empty;
        User = string.Empty;
        WalletName = string.Empty;
        Asset = string.Empty;
        BalanceDiff = 0;
        
        StateHasChanged();
    }
    
    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        Comment = string.Empty;
        User = string.Empty;
        WalletName = string.Empty;
        Asset = string.Empty;
        BalanceDiff = 0;
        
        StateHasChanged();
    }
    
    private async void SaveBalance()
    {
        if (string.IsNullOrEmpty(BrokerId) && 
            _balanceByWallets.Select(elem => elem.BrokerId).Distinct().Count() == 1)
        {
            BrokerId = _balanceByWallets.First().BrokerId;
        }
        if (string.IsNullOrEmpty(WalletName) && _balanceByWallets.Count() == 1)
        {
            WalletName = _balanceByWallets.First().WalletName;
        }
        if (string.IsNullOrEmpty(Asset) && _balanceByAssets.Count() == 1)
        {
            Asset = _balanceByAssets.First().Asset;
        }

        if (BalanceDiff != 0 &&
            !string.IsNullOrWhiteSpace(Asset) &&
            !string.IsNullOrWhiteSpace(Comment) &&
            !string.IsNullOrWhiteSpace(User) &&
            !string.IsNullOrWhiteSpace(BrokerId) &&
            !string.IsNullOrWhiteSpace(WalletName))
        {
            var response = await _assetPortfolioService.UpdateBalance(new UpdateBalanceRequest()
            {
                BrokerId = BrokerId,
                WalletName = WalletName,
                Asset = Asset,
                BalanceDifference = BalanceDiff,
                Comment = Comment,
                User = User
            });
            await Refresh();
        }
        OnCloseEditDialog();
    }

    private void SetSettings()
    {
        ActivePage = AssetPortfolioPages.Settings;
        StateHasChanged();
    }

    private async Task CreateMarketTrade()
    {
        MarketTradeWindowOpen = true;
        
        ExchangeName = string.Empty;
        Market = string.Empty;
        BaseVolume = 0.0;
        AssociateBrokerId = string.Empty;
        BaseAsset = string.Empty;
        QuoteAsset = string.Empty;
        Comment = string.Empty;
        User = string.Empty;
        
        MarketTradeWindowException = false;
        MarketTradeWindowExceptionText = string.Empty;
        
        StateHasChanged();
    }

    private async Task PushMarketTrade()
    {
        var request = new CreateManualTradeRequest()
        {
            ExchangeName = ExchangeName,
            BaseVolume = BaseVolume,
            Market = Market,
            AssociateBrokerId = AssociateBrokerId,
            BaseAsset = BaseAsset,
            QuoteAsset = QuoteAsset,
            Comment = Comment,
            User = User
        };
        var response = await _externalExchangeTradeService.CreateManualTradeAsync(request);

        if (!response.Success)
        {
            MarketTradeWindowException = true;
            MarketTradeWindowExceptionText = response.ErrorMessage;
            return;
        }
        await OnCloseMarketTradeWindow();
    }

    private async Task OnCloseMarketTradeWindow()
    {
        MarketTradeWindowOpen = false;
        StateHasChanged();
    }

    private string GetAssetBackgroundStyle(NetBalanceByAsset netBalanceByAsset)
    {
        return netBalanceByAsset.BalanceState switch
        {
            AssetBalanceState.Warning => "lightyellow",
            AssetBalanceState.Danger => "lightsalmon",
            AssetBalanceState.Critical => "lightcoral",
            _ => string.Empty
            };
    }
}