@using Service.Liquidity.Portfolio.Grpc.Models
@using Backoffice.Services.SpotInstruments
@using Service.Liquidity.Portfolio.Grpc

@inject IAssetPortfolioService _assetPortfolioService

<tr>
    <td>@AssetBalance.UpdateDate</td>
    <td>@AssetBalance.BrokerId</td>
    <td>@AssetBalance.ClientId</td>
    <td>@AssetBalance.WalletId</td>
    <td>@AssetBalance.Asset</td>
    <td>@AssetBalance.Volume</td>
    <td>@AssetBalance.UsdProjection</td>
    <td>
        <ul class="nav">
            <li><button type="button" class="btn-outline-warning btn" @onclick="ShowEdit" >Change balance</button></li>
        </ul>
    </td>
</tr>

@if (IsShowEdit)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Change balance"
            OnClose="@OnCloseEditDialog"
            YesButtonCaption="Save"
            NoButtonCaption="Cancel"
            OnSubmit="@SaveBalance">
            <table>
                <tr>
                    <td>Balance difference</td>
                    <td><input type="number" class="form-control" @bind=BalanceDiff /></td>
                </tr>
            </table>
        </BaseTwoButtonsDialog>
    </div>
}

@code {
    
    [Parameter]
    public AssetBalanceGrpc AssetBalance { get; set; }
    
    [Parameter]
    public EventCallback OnSaveCallback { get; set; }
    
    private bool IsShowEdit { get; set; }
    private double BalanceDiff { get; set; }
    
    private void ShowEdit()
    {
        IsShowEdit = true;
        StateHasChanged();
    }

    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        BalanceDiff = 0;
        StateHasChanged();
    }
    
    private async void SaveBalance()
    {
        if (BalanceDiff != 0)
        {
            var response = await _assetPortfolioService.UpdateBalance(new UpdateBalanceRequest()
            {
                AssetBalance = AssetBalance,
                BalanceDifference = BalanceDiff
            });
            await OnSaveCallback.InvokeAsync();
        }
        OnCloseEditDialog();
    }
}