@using Service.Liquidity.Portfolio.Domain.Models
@using Service.Liquidity.Reports.Grpc

@inject ILiquidityReportService _liquidityReportService;

<ul class="nav">
    <li><button type="button" class="btn-outline-secondary btn" @onclick="Refresh">Refresh</button></li>
</ul>

<table class="table" style="width: auto">
    <thead>
    <tr>
            <th>SettlementDate</th>
            <th>WalletFrom</th>
            <th>WalletTo</th>
            <th>Asset</th>
            <th>VolumeFrom</th>
            <th>VolumeTo</th>
            <th>Comment</th>
            <th>User</th>
            <th>BrokerId</th>
            <th>Id</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var settlement in _settlements.OrderByDescending(elem => elem.SettlementDate))
    {
        <tr>
            <td>@settlement.SettlementDate</td>
            <td>@settlement.WalletFrom</td>
            <td>@settlement.WalletTo</td>
            <td>@settlement.Asset</td>
            <td>@settlement.VolumeFrom</td>
            <td>@settlement.VolumeTo</td>
            <td>@settlement.Comment</td>
            <td>@settlement.User</td>
            <td>@settlement.BrokerId</td>
            <td>@settlement.Id</td>
        </tr>
    }
    </tbody>
</table>


@code {
    private List<ManualSettlement> _settlements = new();

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        var response = await _liquidityReportService.GetManualSettlementHistoryAsync();
        _settlements = response.Settlements ?? new List<ManualSettlement>();
        StateHasChanged();
    }
}