@using Service.Liquidity.Portfolio.Grpc
@using Service.Liquidity.Portfolio.Domain.Models
@using Service.Liquidity.Portfolio.Grpc.Models
@using Backoffice.Services.SpotInstruments
@using Service.Liquidity.Engine.Domain.Models.Wallets
@using Service.Liquidity.Engine.Grpc
@using Service.Liquidity.PortfolioHedger.Grpc
@using Service.Liquidity.PortfolioHedger.Grpc.Models
@using Service.Liquidity.Reports.Grpc
@using Service.Liquidity.Reports.Grpc.Models

@inject ILiquidityReportService _liquidityReportService;
@inject ISpotInstrumentManager _spotInstrumentManager;
@inject IManualTradeService _manualTradeService;
@inject ILpWalletManagerGrpc _lpWalletManagerGrpc

<ul class="nav">
    @if (_trades?.Any() == true)
    {
        <li><button type="button" class="btn-outline-info btn" @onclick="NextPage">>>> Next >>></button></li>
    }
    <li><button type="button" class="btn-outline-secondary btn" @onclick="ReportTrade">Report trade</button></li>
    <li><button type="button" class="btn-outline-secondary btn" @onclick="Refresh">Refresh</button></li>
    <li><span style="margin-left: 10px; vertical-align: center">Count in page: </span><input type="number" style="width: 40px" @bind="CountInPage"/></li>
    
    <li><span style="margin-left: 10px; vertical-align: center">Asset Filter Active </span><input type="checkbox" style="width: 40px" @bind="AssetFilerActive"/></li>
    @if (AssetFilerActive)
    {
        <select @bind="@FilterAsset">
            @foreach (var name in AssetCollection)
            {
                <option value="@name">@name</option>
            }
        </select>
    }
</ul>

<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>Id</th>
        <th>DateTime</th>
        <th>Wallet Name</th>
        <th>Associate Symbol</th>
        <th>Base Asset</th>
        <th>Quote Asset</th>
        <th>Side</th>
        <th>Price</th>
        <th>Base Volume</th>
        <th>Quote Volume</th>
        <th>Base Volume In Usd</th>
        <th>Quote Volume In Usd</th>
        <th>Associate Broker Id</th>
        <th>Trade Id</th>
        <th>Source</th>
        <th>Comment</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var trade in _trades.OrderByDescending(elem => elem.Id))
    {
        <tr>
            <td>@trade.Id</td>
            <td>@trade.DateTime</td>
            <td>@trade.WalletName</td>
            <td>@trade.AssociateSymbol</td>
            <td>@trade.BaseAsset</td>
            <td>@trade.QuoteAsset</td>
            <td>@trade.Side</td>
            <td>@trade.Price</td>
            <td>@trade.BaseVolume</td>
            <td>@trade.QuoteVolume</td>
            <td>@trade.BaseVolumeInUsd</td>
            <td>@trade.QuoteVolumeInUsd</td>
            <td>@trade.AssociateBrokerId</td>
            <td>@trade.TradeId</td>
            <td>@trade.Source</td>
            <td>@trade.Comment</td>
            <td>@trade.User</td>
        </tr>
    }
    </tbody>
</table>

@if (IsCreateDialogOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Create new trade"
            OnClose="@OnCloseCreateDialog"
            YesButtonCaption="Save"
            NoButtonCaption="Cancel"
            OnSubmit="@OnSaveNewTrade">
            <table>
                <tr>
                    <td>Broker Id</td>
                    <select @bind="@NewTrade.BrokerId">
                        @foreach (var name in BrokerList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Wallet Name</td>
                    <select @bind="@NewTrade.WalletName">
                        @foreach (var name in WalletList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><input type="text" class="form-control" @bind=NewTrade.Comment/></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input type="text" class="form-control" @bind=NewTrade.User/></td>
                </tr>
                <tr>
                    <td>Instrument Symbol</td>
                    <td><input type="text" class="form-control" @bind=NewTrade.Symbol/></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="number" class="form-control" @bind=NewTrade.Price/></td>
                </tr>
                <tr>
                    <td>Base volume</td>
                    <td><input type="number" class="form-control" @bind=NewTrade.BaseVolume/></td>
                </tr>
                <tr>
                    <td>Quote volume</td>
                    <td><input type="number" class="form-control" @bind=NewTrade.QuoteVolume/></td>
                </tr>
            </table>
            @if (ShowError)
            {
                <H3>@ErrorText</H3>
            }
        </BaseTwoButtonsDialog>
    </div>
}

@code {
    
    private List<AssetPortfolioTrade> _trades = new();

    private List<string> BrokerList { get; set; } = new();
    private List<string> WalletList { get; set; } = new();
    
    private int CountInPage { get; set; } = 20;
    private long _lastSeen = 0;
    
    private bool IsCreateDialogOpen { get; set; }
    private ReportManualTradeRequest NewTrade { get; set; }
    private bool ShowError { get; set; }
    private string ErrorText { get; set; }
    
    private bool AssetFilerActive { get; set; }
    private List<string> AssetCollection { get; set; }
    private string FilterAsset { get; set; }
    
    private List<SpotInstrumentItem> AllInstruments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CacheAllInstruments();
        await Refresh();
    }

    private async void OnSaveNewTrade()
    {
        if (string.IsNullOrEmpty(NewTrade.BrokerId) && 
            _trades.Select(elem => elem.AssociateBrokerId).Distinct().Count() == 1)
        {
            NewTrade.BrokerId = _trades.First().AssociateBrokerId;
        }
        if (string.IsNullOrEmpty(NewTrade.WalletName) && 
            _trades.Select(elem => elem.WalletName).Distinct().Count() == 1)
        {
            NewTrade.WalletName = _trades.First().WalletName;
        }
        
        var instrumentExist = AllInstruments.Any(elem => elem.Instrument.Symbol == NewTrade.Symbol);

        if (!instrumentExist)
        {
            ShowError = true;
            ErrorText = "Instrument not found";
            StateHasChanged();
            return;
        }

        var response = await _manualTradeService.ReportManualTradeAsync(NewTrade);
        if (response.Success)
        {
            await Refresh();
            OnCloseCreateDialog();
        } else 
        {
            ShowError = true;
            ErrorText = response.ErrorMessage;
            StateHasChanged();
        }
    }

    private void OnCloseCreateDialog()
    {
        IsCreateDialogOpen = false;
        ShowError = false;
        ErrorText = string.Empty;
        StateHasChanged();
    }

    private void ReportTrade()
    {
        NewTrade = new ReportManualTradeRequest();
        IsCreateDialogOpen = true;
    }

    private async Task Refresh()
    {
        var request = new GetAssetPortfolioTradesRequest() {BatchSize = CountInPage};
        
        if (AssetFilerActive && !string.IsNullOrEmpty(FilterAsset))
        {
            request.AssetFilter = FilterAsset;
        }
        
        var response = await _liquidityReportService.GetAssetPortfolioTradesAsync(request);
        _trades = response.Trades ?? new List<AssetPortfolioTrade>();
        _lastSeen = response.IdForNextQuery;

        await SetBrokersAndWallets();
        
        await SetAssetCollection();

        RoundAllValues(_trades);
        
        StateHasChanged();
    }

    private async Task SetBrokersAndWallets()
    {
        var lpWallets = await _lpWalletManagerGrpc.GetAllAsync();
        BrokerList = lpWallets.Data.List.Select(elem => elem.BrokerId).Distinct().ToList();
        WalletList = lpWallets.Data.List.Select(elem => elem.Name).Distinct().ToList();

        var extWallets = await _manualTradeService.GetExternalExchangeCollectionAsync();
        WalletList.AddRange(extWallets.ExchangeNames);
    }

    private async Task CacheAllInstruments()
    {
        AllInstruments = await _spotInstrumentManager.GetAll();
    }

    private void RoundAllValues(List<AssetPortfolioTrade> trades)
    {
        trades.ForEach(trade =>
        {
            trade.Price = Math.Round(trade.Price, 8);
            trade.BaseVolume = Math.Round(trade.BaseVolume, 8);
            trade.QuoteVolume = Math.Round(trade.QuoteVolume, 8);
            trade.BaseVolumeInUsd = Math.Round(trade.BaseVolumeInUsd, 2);
            trade.QuoteVolumeInUsd = Math.Round(trade.QuoteVolumeInUsd, 2);
        });
    }

    private async Task SetAssetCollection()
    {
        AssetCollection = new List<string>();

        AllInstruments.ForEach(instrument =>
        {
            AssetCollection.Add(instrument.Instrument.BaseAsset);
            AssetCollection.Add(instrument.Instrument.QuoteAsset);
        });

        AssetCollection = AssetCollection.Distinct().ToList();
    }

    private async Task NextPage()
    {
        if (_trades?.Any() != true)
            return;

        var request = new GetAssetPortfolioTradesRequest() {BatchSize = CountInPage, LastId = _lastSeen};
        
        if (AssetFilerActive && !string.IsNullOrEmpty(FilterAsset))
        {
            request.AssetFilter = FilterAsset;
        }
        
        var response = await _liquidityReportService.GetAssetPortfolioTradesAsync(request);
        
        if (!response.Success || response.Trades == null || response.Trades.Count == 0)
            return;
        
        _trades = response.Trades;
        _lastSeen = response.IdForNextQuery;
        
        StateHasChanged();
    }

}