@using Service.SmsSender.Domain.Models
@using Backoffice.Abstractions.Models
@using Backoffice.Models.SmsSender
@using Backoffice.Services
@using Service.SmsSender.Domain.Models.Enums
@using Service.SmsSender.Grpc
@using Service.SmsSender.Grpc.Models.Requests

@inject ISmsTemplateService SmsTemplateService
@inject IToaster ToastService

<tr>
    <td>@Template.Id</td>
    <td>@Template.DefaultBrand</td>
    <td>@Template.DefaultLang</td>
    @foreach (var brand in Brands)
    {
        <td>@Template.BrandLangBodies.FirstOrDefault(b => b.Brand == brand)?.LangBodies.Keys.JoinIntoString(16)</td>
    }
    <td>
        <ul class="nav">
            <li><button type="button" class="btn-outline-warning btn" @onclick="ShowEdit">Edit</button></li>
        </ul>
    </td>
</tr>

@if (IsShowEdit)
{
    <div>
        <TemplateDetailsDialogEdit Template="@Template" IsCreate="false" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="OnUpdateTemplate" OnAddBrandLangBodyCallback="OnAddBrandLangBody" OnDeleteBrandLangBodyCallback="OnDeleteBrandLangBody" />
    </div>
}

@code {

    [Parameter]
    public SmsTemplate Template { get; set; }

    [Parameter]
    public List<string> Brands { get; set; }

    [Parameter]
    public ILoaderConfiguration LoaderConfig { get; set; }

    private bool IsShowEdit { get; set; }

    private void ShowEdit()
    {
        IsShowEdit = true;
        StateHasChanged();
    }

    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }

    private async void OnUpdateTemplate(SmsTemplate template)
    {
        try
        {
            foreach (var brandLangBody in template.BrandLangBodies)
            {
                foreach (var (lang, body) in brandLangBody.LangBodies)
                {
                    var editRequest = new EditTemplateRequest
                    {
                        TemplateId = Template.Id,
                        Brand = brandLangBody.Brand,
                        Lang = lang.ToEnum<LangEnum>(),
                        DefaultBrand = template.DefaultBrand,
                        DefaultLang = template.DefaultLang,
                        TemplateBody = body
                    };

                    await SmsTemplateService.EditTemplateAsync(editRequest);
                }
            }

            ToastService.Info($"Template {template.Id} has been modified", "Edit template");

            IsShowEdit = false;

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Template edition failed");
        }
    }

    private async void OnAddBrandLangBody(AddedBrandLangBody body)
    {
        
    }

    private async void OnDeleteBrandLangBody(DeletedBrandLangBody body)
    {
        var affectedBrand = Template.BrandLangBodies.FirstOrDefault(b => b.Brand == body.Brand);
        if (affectedBrand != null && affectedBrand.LangBodies.All(b => b.Key == body.Lang))
        {
            Brands.Remove(body.Brand);
        }

        try
        {
            await SmsTemplateService.EditTemplateAsync(new EditTemplateRequest
            {
                TemplateId = Template.Id,
                Brand = body.Brand,
                Lang = body.Lang.ToEnum<LangEnum>(),
                DefaultBrand = Template.DefaultBrand,
                DefaultLang = Template.DefaultLang,
                TemplateBody = string.Empty // mark the brand-lang-body item for delete on server side
            });

            ToastService.Info($"Template body for brand {body.Brand} (lang {body.Lang}) is deleted", "Delete body");

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Template body deletion failed");
        }
    }

}