@using Service.PushNotification.Grpc
@using Service.PushNotification.Domain.Models
@inject ITemplateService _templateService
<h3>Push Notification Templates</h3>


<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>#</th>
        <th>Type</th>
        <th>Default Brand</th>
        <th>Default Language</th>
        <th>Params</th>
        <th>Bodies</th>
    </tr>
    </thead>
    <tbody>
        @{
            var rowNumber = _index;
        }
        
        @foreach (var template in _templates)
        {
            rowNumber++;
            <tr>
                <td>@rowNumber</td>
                <td>@template.Type.ToString()</td>
                <td>@template.DefaultBrand</td>
                <td>@template.DefaultLang</td>
                <td>@string.Join(" | ", template.Params.ToArray())</td>
                <td>
                    <ul class="nav">
                        <li><button type="button" class="btn-outline-info btn" @onclick="@(() => { ShowBodies(template, template.Type.ToString()); })">Bodies</button></li>
                    </ul>
                </td>
            </tr>
            @if (SelectedPosition == template.Type.ToString())
            {
                <tr>
                    <td colspan="9">
                        <div class="border" style="margin-left: 20px; width: auto">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Brand</th>
                                    <th>Language</th>
                                    <th>Topic</th>
                                    <th>Body</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var body in _bodies)
                                {
                                    <tr>
                                        <td>@body.Key.brand</td>
                                        <td>@body.Key.lang</td>
                                        <td>@body.Value.topic</td>
                                        <td>@body.Value.body</td>
                                        <td>
                                            <ul class="nav">
                                                <li><button type="button" class="btn-outline-info btn" >Bodies</button></li> 
                                            </ul>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>                                            
                                        <ul class="nav">
                                            <li><button type="button" class="btn-outline-info btn">Add body</button></li>
                                        </ul></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>


@code {
    private Dictionary<(string brand, string lang), (string topic, string body)> _bodies = new();

    private List<NotificationTemplate> _templates = new();
    private long _index = 0;
    private string SelectedPosition { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshTokens();
    }

    private async Task RefreshTokens()
    {
        _templates = (await _templateService.GetAllTemplates()).Templates;
        StateHasChanged();
    }
    
    private async void ShowBodies(NotificationTemplate template, string positionId)
    {
        if (SelectedPosition == positionId)
        {
            _bodies = new ();
            SelectedPosition = null;
        }
        else
        {
            _bodies = template.Bodies;
            SelectedPosition = positionId;
        }
        
        await InvokeAsync(StateHasChanged);
    }
}