@using Service.NewsRepository.Grpc
@using Service.NewsRepository.Domain.Models
@using Backoffice.Services
@using Service.NewsImporter.Domain.Models
@using Service.NewsRepository.Grpc.Models
@inject INewsService _newsService
<h3>News</h3>
<nav>
    <button type="button" class="btn-outline-info btn"  @onclick="ShowCreate">Add News</button>
    @if (_news?.Any() == true)
    {
        <button type="button" class="btn-outline-info btn" @onclick="NextPage">>>> Next >>></button>
    }
    <button type="button" class="btn-outline-secondary btn" @onclick="RefreshNews">Refresh</button>
    <span style="margin-left: 10px; vertical-align: center">Count in page: </span><input type="number" style="width: 40px" @bind="CountInPage"/>
</nav>
<nav>
    <span style="margin-left: 10px; vertical-align: center">Integration Source: </span>
    <select @bind="@IntegrationSource">
        @foreach (var name in _integrationSources)
        {
            <option value="@name">@name</option>
        }
    </select>
    <span style="margin-left: 10px; vertical-align: center">Ticker: </span><input type="text" style="width: auto" @bind="Ticker"/>
    <span style="margin-left: 10px; vertical-align: center">Language: </span><input type="text" style="width: auto" @bind="Language"/>
    <button type="button" class="btn-outline-secondary btn" @onclick="FindNews">Find</button>
    <button type="button" class="btn-outline-secondary btn" @onclick="ClearFilters">Clear</button>
    @if (FindInProcess)
    {
        <img style="margin-left: 10px" width="30" src="images/loading-buffering.gif" alt=""/>
    }
    else if (FindCompleted)
    {
        <span style="margin-left: 10px; vertical-align: center">Finded @FindedCount news</span>
    }
</nav>
<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>#</th>
        <th>Topic</th>
        <th>Description</th>
        <th>Lang</th>
        <th>Source</th>
        <th>Integration Source</th>
        <th>Sentiment</th>
        <th>UrlAddress</th>
        <th>ImageUrl</th>
        <th>AssociatedAssets</th>
        <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    @{
        var rowNumber = 0;
    }
    @foreach (var news in _news)
    {
        rowNumber++;
        <tr>
            <td>@rowNumber</td>
            <td>@news.Topic</td>
            <td>@news.Description</td>
            <td>@news.Lang</td>
            <td>@news.Source</td>
            <td>@news.IntegrationSource</td>
            <td>@news.Sentiment</td>
            <td>@news.UrlAddress</td>
            <td>@news.ImageUrl</td>
            <td>@news.AssociatedAssets.JoinIntoString(128)</td>
            <td>@news.Timestamp</td>

            <td>
                <ul class="nav">
                    <li><button type="button" class="btn-outline-info btn"  @onclick="() => { ShowEdit(news); }">Edit</button></li>
                    <li><button type="button" class="btn-outline-danger btn"  @onclick="() => { DeleteNews(news); }">Delete</button></li>
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (IsShowEdit)
{
    <div>
        <NewsEditDialog News="@EditRequest" IsCreate="@isCreate" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="async () => { await OnUpdateNews(); }"/>
    </div>
}

@code {
    private List<News> _news = new();
    private bool IsShowEdit  { get; set; }
    private bool isCreate { get; set; }
    private News EditRequest;
    
    private int CountInPage { get; set; } = 20;
    private DateTime _lastSeen = DateTime.MinValue;
    
    private bool FindCompleted { get; set; }
    private bool FindInProcess { get; set; }

    private int FindedCount { get; set; }

    private List<string> _integrationSources = new();

    protected override async Task OnInitializedAsync()
    {
        _integrationSources.Add(string.Empty);
        _integrationSources.AddRange(IntegrationConstants.IntegrationSources);
        
        await RefreshNews();
    }

    private void ShowEdit(News newsEdit)
    {
        isCreate = false;
        EditRequest = newsEdit;
        IsShowEdit = true;
    }

    private void ShowCreate()
    {
        isCreate = true;
        EditRequest = new News();
        IsShowEdit = true;
    }
    private async Task RefreshNews()
    {
        ClearFilters();
        
        _news = (await _newsService.GetNews(new ()
        {
            BatchSize = CountInPage,
            LastDate = DateTime.MinValue
        })).NewsList ?? new List<News>();
        
        StateHasChanged();
    }
    
    private async Task NextPage()
    {
        ClearFilters();
        
        _lastSeen = _news.Min(e => e.Timestamp);
        _news = (await _newsService.GetNews(new ()
        {
            BatchSize = CountInPage,
            LastDate = _lastSeen
        })).NewsList ?? new List<News>();
        
        StateHasChanged();
    }
    
    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }

    private async Task OnUpdateNews()
    {
        IsShowEdit = false;
        await _newsService.AddOrUpdateNews(EditRequest);
        await RefreshNews();
    }

    private async Task DeleteNews(News newsDelete)
    {
        await _newsService.DeleteNews(new DeleteNewsRequest()
        {
            Lang = newsDelete.Lang,
            Topic = newsDelete.Topic
        });
        await RefreshNews();
    }

    private string IntegrationSource { get; set; }

    private string Ticker { get; set; }
    private string Language { get; set; }

    private async Task FindNews()
    {
        if (!string.IsNullOrWhiteSpace(IntegrationSource) || !string.IsNullOrWhiteSpace(Ticker) || !string.IsNullOrWhiteSpace(Language))
        {
            FindInProcess = true;
            StateHasChanged();
            
            _news = (await _newsService.GetNews(new ()
            {
                BatchSize = 999999999,
                LastDate = DateTime.MinValue
            })).NewsList ?? new List<News>();

            if (!string.IsNullOrWhiteSpace(IntegrationSource))
            {
                _news = _news.Where(e => e.IntegrationSource == IntegrationSource).ToList();
            }
            if (!string.IsNullOrWhiteSpace(Ticker))
            {
                _news = _news.Where(e => e.AssociatedAssets.Contains(Ticker)).ToList();
            }
            if (!string.IsNullOrWhiteSpace(Language))
            {
                _news = _news.Where(e => e.Lang == Language.ToLower()).ToList();
            }
            FindCompleted = true;
            FindedCount = _news.Count;
            
            FindInProcess = false;
            StateHasChanged();
        }
    }
    private void ClearFilters()
    {
        IntegrationSource = string.Empty;
        Ticker = string.Empty;
        FindCompleted = false;
        FindedCount = 0;
    }

}
