@using Service.MatchingEngine.PriceSource.Client
@using Elasticsearch.Net
@using MyJetWallet.Domain.Orders
@using Service.Liquidity.Engine.Domain.Models.LiquidityProvider
@using Service.Liquidity.Engine.Grpc
@using Service.Liquidity.Engine.Grpc.Models

@inject IOrderBookService OrderBookService
@inject IOrderBookManagerGrpc OrderBookManagerGrpc

<div style="width: auto">
    <div class="row">
        <div class="col" style="horiz-align: center">
            <table>
                <tr>
                    <td colspan="3">
                        @Symbol
                    </td>
                </tr>
                @foreach (var level in InternalBook)
                {
                    <tr style="background: @(level.BuyVolume != 0 ? "lightgreen" : "lightcoral"); font-weight: @(level.IsLocal ? "normal" : "bolder")">
                        <td>
                            @if (level.BuyVolume != 0)
                            {
                                @level.BuyVolume
                            }
                        </td>
                        <td>
                            @level.Price
                        </td>
                        <td>
                            @if (level.SellVolume != 0)
                            {
                                @level.SellVolume
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col">
            <table>
                <tr>
                    <td colspan="3">
                        Intrnal Data
                    </td>
                </tr>
                @foreach (var level in LpBook)
                {
                    <tr style="background: @(level.Side == OrderSide.Buy ? "lightgreen" : "lightcoral"); ">
                        <td>
                            @if (level.Side == OrderSide.Buy)
                            {
                                @level.Volume
                            }
                        </td>
                        <td>
                            @level.Price
                        </td>
                        <td>
                            @if (level.Side == OrderSide.Sell)
                            {
                                @level.Volume
                            }
                        </td>
                        <td>@level.Status.ToString()</td>
                        <td>@level.Source</td>
                        <td>
                            <span title="@(!string.IsNullOrEmpty(level.Message) ? level.Message : level.MeStatus)">
                                @if (!string.IsNullOrEmpty(level.MeStatus))
                                {
                                    @level.MeStatus
                                }
                                else
                                {
                                    <span>----</span>
                                }
                            </span>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col">
            <button @onclick="UpdateData" type="button" class="btn btn-outline-success" style="margin: 5px; border-radius: 10px">Refresh</button>
            <br>
            count levels: <input type="number" @bind="MaxLevelCount"/><br>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string BrokerId { get; set; }
    
    [Parameter]
    public string Symbol { get; set; }
    
    [Parameter]
    public string WalletId { get; set; }
    
    [Parameter]
    public string WalletName { get; set; }
    
    private int MaxLevelCount { get; set; } = 10;
    private List<Level> InternalBook { get; set; } = new();
    private List<LpOrder> LpBook { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }


    private async Task UpdateData()
    {
        var limit = MaxLevelCount > 0 ? MaxLevelCount : 1000;
        
        var book = OrderBookService.GetOrderBook(BrokerId, Symbol); 
        var list = new List<Level>();

        if (book != null)
        {
            list.AddRange(book
                .Where(e => e.Volume < 0)
                .OrderBy(e => e.Price)
                .Where(e => e.WalletId == WalletId)
                .Take(limit)
                .Select(e => new Level(e.Price, 0, e.Volume, $"local {WalletName}")));
            
            list.AddRange(book
                .Where(e => e.Volume > 0)
                .OrderByDescending(e => e.Price)
                .Where(e => e.WalletId == WalletId)
                .Take(limit)
                .Select(e => new Level(e.Price, 0, e.Volume, $"local {WalletName}")));

            var bestAsk = book
                .Where(e => e.Volume > 0)
                .OrderBy(e => e.Price)
                .FirstOrDefault(e => e.WalletId == WalletId);
            
            var bestBid = book
                .Where(e => e.Volume < 0)
                .OrderByDescending(e => e.Price)
                .FirstOrDefault(e => e.WalletId == WalletId);
            
            if (bestAsk != null)
            {
                list.Add(new Level(bestAsk.Price, 0, bestAsk.Volume, bestAsk.WalletId)
                {
                    IsLocal = false
                });
            }
            
            if (bestBid != null)
            {
                list.Add(new Level(bestBid.Price, bestBid.Volume, 0, bestBid.WalletId)
                {
                    IsLocal = false
                });
            }
        }

        InternalBook = list.OrderByDescending(e => e.Price).ToList();

        var resp = await OrderBookManagerGrpc.GetLiquidityProviderLastOrdersAsync(new GetLiquidityProviderLastOrderRequest()
        {
            Symbol = Symbol,
            BrokerId = BrokerId
        });

        LpBook = resp.Data?.List ?? new List<LpOrder>();
        LpBook = LpBook.OrderByDescending(e => e.Price).ToList();
    }

    


    private class Level
    {
        public Level(decimal price, decimal buyVolume, decimal sellVolume, string source)
        {
            Price = price;
            BuyVolume = buyVolume;
            SellVolume = sellVolume;
            Source = source;
        }

        public decimal Price { get; set; }
        
        public decimal BuyVolume { get; set; }
        
        public decimal SellVolume { get; set; }
        
        public string Source { get; set; }

        public bool IsLocal { get; set; } = true;
    }
    
}