@using Service.Liquidity.Engine.Domain.Models.Settings
@using Backoffice.Components.Liquidity.Market.Models
@using Backoffice.Services.SpotInstruments
@using Microsoft.Extensions.Logging
@using Service.AssetsDictionary.Client
@using Service.Liquidity.Engine.Domain.Models.Wallets
@using Service.Liquidity.Engine.Grpc
@using Service.Liquidity.Engine.Grpc.Models

@inject ILogger<InstrumentDetailsComponent> Logger
@inject IToaster ToastService
@inject ISpotInstrumentManager InstrumentDictionary 
@inject ILpWalletManagerGrpc WalletManager
@inject IExternalMarketsGrpc ExternalMarketsManager


<EditForm Model="@this">
<table style="width: auto; font-size: 12px;">
    <tr>
        <th>Instrument</th>
        <th>Market Maker</th>
        <th>Hedging</th>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Internal Symbol</td>
                    <td>
                        @if (IsNew)
                        {
                            <InputSelect @bind-Value="@Provider.Symbol">
                                @foreach (var symbol in InstrumentList)
                                {
                                    <option value="@symbol">@symbol</option>
                                }
                            </InputSelect>
                            
                        }
                        else
                        {
                            @Provider.Symbol
                        }
                    </td>
                </tr>
                <tr>
                    <td>Internal Wallet</td>
                    <td>
                        @if (IsNew)
                        {
                            <InputSelect @bind-Value="@Provider.Liquidity.WalletId">
                                @foreach (var wallet in Wallets)
                                {
                                    <option value="@wallet.WalletId">@wallet.Name (@wallet.WalletId)</option>
                                }
                            </InputSelect>
                        }
                        else
                        {
                            @Provider.WalletName<br><span style="font-size: 6px">@Provider.WalletId</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>External Market</td>
                    <td>
                        @if (IsEdit)
                        {
                            <InputSelect @bind-Value="@ExternalMarketSelected">
                                @foreach (var market in ExternalMarkets.Keys)
                                {
                                    <option value="@market">@market</option>
                                }
                            </InputSelect>
                        }
                        else
                        {
                            @Provider.Liquidity.ExternalMarket
                        }
                    </td>
                </tr>
                <tr>
                    <td>External Symbol</td>
                    <td>
                        @if (IsEdit)
                        {
                            <InputSelect @bind-Value="@Provider.Liquidity.ExternalSymbol">
                                @foreach (var symbol in ExternalInstrumentList)
                                {
                                    <option value="@symbol">@symbol</option>
                                }
                            </InputSelect>                            
                        }
                        else
                        {
                            @Provider.Liquidity.ExternalSymbol
                        }
                    </td>
                </tr>                
            </table>            
        </td>
        <td>
            <table>
                <tr>
                    <td>Mode</td>
                    <td>
                        @if (IsEdit)
                        {
                            <InputSelect @bind-Value="@Provider.Liquidity.Mode">
                                <option value="@EngineMode.Active"><MyLabel Color="green" Text="Active" /></option>
                                <option value="@EngineMode.Idle"><MyLabel Color="red" Text="Idle" /></option>
                                <option value="@EngineMode.Disabled"><MyLabel Color="red" Text="Disabled" /></option>
                            </InputSelect>
                        }
                        else
                        {
                            <MyLabel Color="@(Provider.Liquidity.Mode == EngineMode.Active ? "green":"red")" Text="@Provider.Liquidity.Mode.ToString()" />
                        }                        
                    </td>
                </tr>
                <tr>
                    <td>Markup</td>
                    <td>
                        @if (IsEdit)
                        {
                            <input type="number" style="width: 80px" @bind="Provider.Liquidity.Markup" />
                        }
                        else
                        {
                            @Provider.Liquidity.Markup
                        }                        
                    </td>
                </tr>                
                <tr>
                    <td>Max buy volume</td>
                    <td>
                        @if (IsEdit)
                        {
                            <input type="number" style="width: 80px" @bind="Provider.Liquidity.MaxBuySideVolume" />
                        }
                        else
                        {
                            @Provider.Liquidity.MaxBuySideVolume
                        }                        
                    </td>
                </tr>
                <tr>
                    <td>Max sell volume</td>
                    <td>
                        @if (IsEdit)
                        {
                            <input type="number" style="width: 80px" @bind="Provider.Liquidity.MaxSellSideVolume" />
                        }
                        else
                        {
                            @Provider.Liquidity.MaxSellSideVolume
                        }                        
                    </td> 
                </tr>                
            </table>            
        </td>
        <td>
            <table>
                <tr>
                    <td>Mode</td>
                    <td>
                        @if (IsEdit)
                        {
                            <InputSelect @bind-Value="@Provider.Hedge.Mode">
                                <option value="@EngineMode.Active"><MyLabel Color="green" Text="Active" /></option>
                                <option value="@EngineMode.Idle"><MyLabel Color="red" Text="Idle" /></option>
                                <option value="@EngineMode.Disabled"><MyLabel Color="red" Text="Disabled" /></option>
                            </InputSelect>  

                        }
                        else
                        {
                            <MyLabel Color="@(Provider.Hedge.Mode == EngineMode.Active ? "green":"red")" Text="@Provider.Hedge.Mode.ToString()" />
                        }  
                    </td>
                </tr>
                <tr>
                    <td>Min hedge volume</td>
                    <td>
                        @if (IsEdit)
                        {
                            <input type="number" style="width: 80px" @bind="Provider.Hedge.MinVolume" />
                        }
                        else
                        {
                            @Provider.Hedge.MinVolume
                        }  
                    </td>
                </tr>
            </table>            
        </td>
    </tr>
    <tr>
        <td>
            <ul class="nav">
                @if (!IsNew && !IsEdit)
                {
                    <li><button type="button" class="btn-outline-dark btn" style="height: auto; font-size: 12px" @onclick="EditClick">Edit</button></li>
                }
                else
                {
                    <li><button type="button" class="btn-outline-success btn" style="height: auto; font-size: 12px" @onclick="SaveClick">Save</button></li>
                    <li><button type="button" class="btn-outline-danger btn" style="height: auto; font-size: 12px" @onclick="CancelClick">Cancel</button></li>
                }
            </ul>
        </td>
    </tr>
</table>
</EditForm>


@code {

    [Parameter]
    public bool IsEdit { get; set; }
    
    [Parameter]
    public bool IsNew { get; set; }
    
    [Parameter]
    public InstrumentLpSettings Provider { get; set; }
    
    [Parameter]
    public Func<InstrumentLpSettings, Task<bool>> UpdateCallback { get; set; }
    
    [Parameter]
    public Action<InstrumentLpSettings> CancelCallback { get; set; }
    
    [Parameter]
    public List<LpWallet> LpWallets { get; set; }
    
    private void EditClick()
    {
        IsEdit = true;
        StateHasChanged();
    }

    private async Task SaveClick()
    {
        try
        {
            var wallet = LpWallets.FirstOrDefault(e => e.WalletId == Provider.Liquidity.WalletId);
            if (wallet == null)
            {
                ToastService.Error($"Wallet '{Provider.WalletName}' do not found");
                return;
            }

            Provider.Wallet = wallet;
            Provider.WalletId = wallet.WalletId;
            Provider.WalletName = wallet.Name;
            Provider.Liquidity.WalletName = wallet.Name;
            Provider.Liquidity.InstrumentSymbol = Provider.Symbol;
            Provider.Liquidity.WalletId = wallet.WalletId;
            Provider.Hedge.InstrumentSymbol = Provider.Symbol;
            Provider.Hedge.WalletId = wallet.WalletId;
            
            if (UpdateCallback != null)
                await UpdateCallback.Invoke(Provider);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Cannot update instrument settings");
            return;
        }

        if (!IsNew)
            IsEdit = false;

        InvokeAsync(StateHasChanged);
    }

    private void CancelClick()
    {
        CancelCallback?.Invoke(Provider);

        if (!IsNew)
            IsEdit = false;
        
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        InstrumentList = (await InstrumentDictionary.GetAll())
            .Where(e => e.Instrument.IsEnabled)
            .Select(e => e.Instrument.Symbol)
            .OrderBy(e => e)
            .ToList();

        var wallets = await WalletManager.GetAllAsync();
        
        Wallets = wallets.Data.List.OrderBy(e => e.Name).ToList();
        
        var externalMarketList = await ExternalMarketsManager.GetExternalMarketListAsync();

        ExternalMarkets = new Dictionary<string, List<string>>();

        foreach (var market in externalMarketList.Data.List)
        {
            var data = await ExternalMarketsManager.GetInstrumentsAsync(new SourceDto() {Source = market});

            ExternalMarkets[market] = data.Data.List.Select(e => e.Market).ToList();
        }

        await InvokeAsync(StateHasChanged);
    }

    private List<LpWallet> Wallets { get; set; } = new();

    private List<string> InstrumentList { get; set; } = new();

    private Dictionary<string, List<string>> ExternalMarkets { get; set; } = new();

    private string ExternalMarketSelected
    {
        get => Provider.Liquidity.ExternalMarket;
        set
        {
            Provider.Liquidity.ExternalMarket = value;
            StateHasChanged();
        }
    }

    private List<string> ExternalInstrumentList
    {
        get
        {
            if (string.IsNullOrEmpty(Provider?.Liquidity?.ExternalMarket))
                return new List<string>();
        
            if (ExternalMarkets.TryGetValue(Provider.Liquidity.ExternalMarket, out var data))
            {
                return data;
            }
            return new List<string>();
        }
    }
}