@using Service.Liquidity.Engine.Grpc
@using Service.Liquidity.Engine.Domain.Models.Settings
@using Backoffice.Abstractions.Models
@using Backoffice.Components.Liquidity.Market.Models
@using Microsoft.Extensions.Logging
@using Service.Liquidity.Engine.Domain.Models.Wallets
@using Service.MatchingEngine.PriceSource.Client

@inject IMarketMakerSettingsManagerGrpc SettingsManagerGrpc;
@inject IHedgeSettingsManagerGrpc HedgeSettingsGrpc;
@inject ILpWalletManagerGrpc WalletManagerGrpc;

@inject IToaster ToastService

@inject ILogger<LiquidityEngineComponent> Logger

@implements IDisposable

<Loader LoaderConfig="@LoaderConfig"/>


<div>
    <table style="width: auto">
        <tr>
            <td>Market Mode:</td>
            <td><MyLabel Color="@MarketMakerGlobalModeColor()" Text="@(MarketMakerGeneralSettings?.Mode.ToString())" /></td>
        </tr>
        <tr>
            <td>Hedging Mode:</td>
            <td><MyLabel Color="@HedgeMakerGlobalModeColor()" Text="@(HedgeGlobalSettings?.Mode.ToString())" /></td>
        </tr>
    </table>
</div>

<span style="margin: 30px"></span>

<div>
    @if (IsNewMenu)
    {
        <InstrumentDetailsComponent Provider="@NewInstrument" IsEdit="true" IsNew="true" LpWallets="@LpWallets" UpdateCallback="Update" CancelCallback="CancelAdd"/>
    }
</div>

<table>
    <tr>
        <td style="vertical-align: top">
            <table>
                <tr>
                    <td><h3>Market's</h3></td>
                    <td>
                        <ul class="nav float-left" style="margin-left: 30px">
                            <li><button @onclick="OnRefresh" type="button" class="btn btn-outline-primary" style="margin: 5px; border-radius: 10px">Refresh</button></li>
                            <li><button @onclick="OnAdd" type="button" class="btn btn-outline-success" style="margin: 5px; border-radius: 10px">Add</button></li>
                        </ul>
                    </td>
                </tr>
            </table>
            
            <table class="table" style="width: auto; font-size: 12px">
                <thead>
                <tr>
                    <th class="align-middle">Instrument</th>
                    <th class="align-middle">Market<br>Mode</th>
                    <th class="align-middle">Hedge<br>Mode</th>
                    <th class="align-middle">Prices</th>
                    <th class="align-middle">Source</th>
                    <th class="align-middle">Source<br>Symbol</th>
                    <th class="align-middle">Markup</th>
                    <th class="align-middle">Wallet</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                @foreach (var provider in InstrumentSettings)
                {
                    <MarketMakerRowComponent Provider="@provider" IsActiveRow="false" UpdateCallback="Update" LpWallets="@LpWallets"/>
                }
                </tbody>

            </table>
        </td>
        <td style="vertical-align: top">
            <div style="margin-left: 30px">
                <ShortClosePositionComponent />
            </div>
        </td>
    </tr>
</table>
    

@code {

    //ShortClosePositionComponent
    
    private MarketMakerSettings MarketMakerGeneralSettings { get; set; }
    private HedgeSettings HedgeGlobalSettings { get; set; }
    
    private List<InstrumentLpSettings> InstrumentSettings { get; set; } = new();
    
    private ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();

    private bool IsNewMenu { get; set; } = false;
    private InstrumentLpSettings NewInstrument { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        await OnRefresh();
    }

    private string MarketMakerGlobalModeColor()
    {
        switch (MarketMakerGeneralSettings?.Mode)
        {
            case EngineMode.Disabled:
                return "red";
                
            case EngineMode.Idle:
                return "yellow";
                
            case EngineMode.Active:
                return "green";
        }

        return "white";
    }
    
    private string HedgeMakerGlobalModeColor()
    {
        switch (HedgeGlobalSettings?.Mode)
        {
            case EngineMode.Disabled:
                return "red";
                
            case EngineMode.Idle:
                return "yellow";
                
            case EngineMode.Active:
                return "green";
        }

        return "white";
    }

    private async Task OnRefresh()
    {
        LoaderConfig.Enable();
        await InvokeAsync(StateHasChanged);

        MarketMakerGeneralSettings = await SettingsManagerGrpc.GetMarketMakerSettingsAsync();
        HedgeGlobalSettings = await HedgeSettingsGrpc.GetGlobalHedgeSettingsAsync();
        
        var providerSettings = await SettingsManagerGrpc.GetMirroringLiquiditySettingsListAsync();

        var hedgeInstrumentSettings = await HedgeSettingsGrpc.GetHedgeInstrumentSettingsListAsync();

        var lpWalletList = await WalletManagerGrpc.GetAllAsync();

        LpWallets = lpWalletList.Data.List;

        InstrumentSettings = new();
        foreach (var lpSettings in providerSettings.List)
        {
            var wallet = lpWalletList.Data.List.FirstOrDefault(e => e.Name == lpSettings.WalletName);
            if (wallet == null)
                continue;
            
            var item = new InstrumentLpSettings()
            {
                Symbol = lpSettings.InstrumentSymbol,
                WalletName = lpSettings.WalletName,
                Liquidity = lpSettings,
                WalletId = wallet.WalletId,
                Wallet = wallet
            };

            item.Hedge = hedgeInstrumentSettings.List.FirstOrDefault(e =>
                e.InstrumentSymbol == item.Symbol && e.WalletId == item.WalletId);

            if (item.Hedge == null)
                item.Hedge = new()
                {
                    Mode = EngineMode.Disabled,
                    ExternalMarket = lpSettings.ExternalMarket,
                    ExternalSymbol = lpSettings.ExternalSymbol,
                    InstrumentSymbol = item.Symbol,
                    WalletId = item.WalletId,
                    MinVolume = 0
                };

            InstrumentSettings.Add(item);
        }

        LoaderConfig.Disable();
        
        await InvokeAsync(StateHasChanged);

    }

    private List<LpWallet> LpWallets { get; set; }

    private async Task<bool> Update(InstrumentLpSettings provider)
    {
        LoaderConfig.Enable();
        await InvokeAsync(StateHasChanged);
        
        try
        {
            var action = "";
            if (provider == NewInstrument)
            {
                await SettingsManagerGrpc.AddMirroringLiquiditySettingsAsync(provider.Liquidity);
                action = "added";
            }
            else
            {
                await SettingsManagerGrpc.UpdateMirroringLiquiditySettingsAsync(provider.Liquidity);
                action = "updated";
            }
            
            await HedgeSettingsGrpc.AddOrUpdateSettingsAsync(provider.Hedge);

            ToastService.Info($"Provider {provider.Symbol} is {action}");

            IsNewMenu = false;
            await OnRefresh();

            LoaderConfig.Disable();
            await InvokeAsync(StateHasChanged);
            
            return true;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"Provider {provider.Symbol} cannot be updated");
            
            ToastService.Error($"Provider {provider.Symbol} cannot be updated: {ex.Message}");
        }
        
        await OnRefresh();
        
        LoaderConfig.Disable();
        await InvokeAsync(StateHasChanged);
        return false;
    }

    public void Dispose()
    {
    }

    private void OnAdd()
    {
        NewInstrument = new InstrumentLpSettings()
        {
            Liquidity = new MirroringLiquiditySettings(),
            Hedge = new HedgeInstrumentSettings()
        };

        IsNewMenu = true;
        
        StateHasChanged();
    }

    public void CancelAdd(InstrumentLpSettings provider)
    {
        IsNewMenu = false;
        StateHasChanged();
    }

}