@using Backoffice.Components.Liquidity.Market.Models
@using Service.Liquidity.Engine.Grpc
@using Service.Liquidity.Engine.Grpc.Models
@using Service.MatchingEngine.PriceSource.Client
@using Service.MatchingEngine.PriceSource.MyNoSql
@using Syncfusion.Blazor.Data

@implements IDisposable

@inject IOrderBookManagerGrpc OrderBookManagerGrpc
@inject IOrderBookService OrderBookService
@inject IDetailOrderBookService DetailOrderBookService

<div style="width: auto">
    <div class="row">
        <div class="col" style="horiz-align: center">
            <table>
                <tr>
                    <td colspan="3">
                        @Provider.Symbol
                    </td>
                </tr>
                @foreach (var level in InternalBook)
                {
                    <tr style="background: @(level.BuyVolume != 0 ? "lightgreen": "lightcoral"); font-weight: @(level.IsLocal ? "normal" : "bolder")">
                        <td>
                            @if (level.BuyVolume != 0)
                            {
                                @level.BuyVolume
                            }
                        </td>
                        <td>
                            @level.Price
                        </td>
                        <td>
                            @if (level.SellVolume != 0)
                            {
                                @level.SellVolume
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col">
            <table>
                <tr>
                    <td colspan="3">
                        @Provider.Liquidity.ExternalSymbol ( @Provider.Liquidity.ExternalMarket )
                    </td>
                </tr>
                @foreach (var level in ExternalBook)
                {
                    <tr style="background: @(level.BuyVolume != 0 ? "lightgreen": "lightcoral")">
                        <td>
                            @if (level.BuyVolume != 0)
                            {
                                @level.BuyVolume
                            }
                        </td>
                        <td>
                            @level.Price
                        </td>
                        <td>
                            @if (level.SellVolume != 0)
                            {
                                @level.SellVolume
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col">
            <table>
                <tr>
                    <td colspan="4">
                        @Provider.Liquidity.ExternalSymbol ( @Provider.Liquidity.ExternalMarket )
                    </td>
                </tr>
                @foreach (var level in AllBook)
                {
                    <tr style="background: @(level.BuyVolume != 0 ? "lightgreen": "lightcoral")">
                        <td>
                            @if (level.BuyVolume != 0)
                            {
                                @level.BuyVolume
                            }
                        </td>
                        <td>
                            @level.Price
                        </td>
                        <td>
                            @if (level.SellVolume != 0)
                            {
                                @level.SellVolume
                            }
                        </td>
                        <td style="background: @(level.Source.StartsWith("local") ? "lightblue": (level.Source == Provider.Liquidity.ExternalMarket ? "orange" : "yellow"))">
                            @level.Source
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col">
            @if (IsRefresh)
            {
                <button @onclick="DisableRefresh" type="button" class="btn btn-outline-success" style="margin: 5px; border-radius: 10px">Auto-Refresh Is Active</button><br>
            }
            else
            {
                <button @onclick="EnableRefresh" type="button" class="btn btn-outline-danger" style="margin: 5px; border-radius: 10px">Auto-Refresh Disabled</button><br>
                <button @onclick="UpdateData" type="button" class="btn btn-outline-success" style="margin: 5px; border-radius: 10px">Refresh</button><br>
            }
            count levels: <input type="number" @bind="MaxLevelCount" /><br>
            
        </div>
    </div>
</div>

@code {
    
    [Parameter]
    public InstrumentLpSettings Provider { get; set; }

    private bool IsRefresh { get; set; } = true;

    private bool _isDispose = false;

    private List<Level> ExternalBook { get; set; } = new();

    private List<Level> InternalBook { get; set; } = new();
    
    private List<Level> AllBook { get; set; } = new();

    private int MaxLevelCount { get; set; } = 10;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
        
        GlobalTimers.RefreshTimer.RegisterCallback($"Lp OrderBook {Provider.Symbol}; {Provider.WalletId}", Refresh);
    }

    private async Task Refresh()
    {
        if (_isDispose || !IsRefresh) return;

        await UpdateData();
    }

    private async Task UpdateData()
    {
        var external = await OrderBookManagerGrpc.GetOrderBookAsync(new GetOrderBookRequest()
        {
            Source = Provider.Liquidity.ExternalMarket,
            Symbol = Provider.Liquidity.ExternalSymbol
        });

        var list = new List<Level>();

        var limit = MaxLevelCount > 0 ? MaxLevelCount : 1000;

        if (external?.Data != null)
        {
            list.AddRange(external.Data.Asks.OrderBy(e => e.Price).Take(limit).Select(e => new Level((decimal) e.Price, 0, (decimal) e.Volume, Provider.Liquidity.ExternalMarket)));
            list.AddRange(external.Data.Bids.OrderByDescending(e => e.Price).Take(limit).Select(e => new Level((decimal) e.Price, (decimal) e.Volume, 0, Provider.Liquidity.ExternalMarket)));
        }
        ExternalBook = list.OrderByDescending(e => e.Price).ToList();

        var book = DetailOrderBookService.GetOrderBook(Provider.Wallet.BrokerId, Provider.Symbol); 
        list = new List<Level>();

        if (book != null)
        {
            list.AddRange(book.SellLevels.OrderBy(e => e.Price)
                .Where(e => e.WalletId == Provider.WalletId)
                .Take(limit)
                .Select(e => new Level(e.Price, 0, e.Volume, $"local {Provider.WalletName}")));
            list.AddRange(book.BuyLevels.OrderByDescending(e => e.Price)
                .Where(e => e.WalletId == Provider.WalletId)
                .Take(limit)
                .Select(e => new Level(e.Price, e.Volume, 0, $"local {Provider.WalletName}")));
            
            var bestAsk = book.SellLevels
                .OrderBy(e => e.Price)
                .FirstOrDefault(e => e.WalletId != Provider.WalletId);
            
            var bestBid = book.BuyLevels
                .OrderByDescending(e => e.Price)
                .FirstOrDefault(e => e.WalletId != Provider.WalletId);

            if (bestAsk != null)
            {
                list.Add(new Level(bestAsk.Price, 0, bestAsk.Volume, bestAsk.WalletId)
                    {
                        IsLocal = false
                    });
            }
            
            if (bestBid != null)
            {
                list.Add(new Level(bestBid.Price, bestBid.Volume, 0, bestBid.WalletId)
                {
                    IsLocal = false
                });
            }
        }

        InternalBook = list.OrderByDescending(e => e.Price).ToList();

        AllBook = new List<Level>();
        AllBook.AddRange(ExternalBook);
        AllBook.AddRange(InternalBook);
        AllBook = AllBook.OrderByDescending(e => e.Price).ToList();

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _isDispose = true;
        GlobalTimers.RefreshTimer.RemoveCallback($"Lp OrderBook {Provider.Symbol}; {Provider.WalletId}");
    }

    private class Level
    {
        public Level(decimal price, decimal buyVolume, decimal sellVolume, string source)
        {
            Price = price;
            BuyVolume = buyVolume;
            SellVolume = sellVolume;
            Source = source;
        }

        public decimal Price { get; set; }
        
        public decimal BuyVolume { get; set; }
        
        public decimal SellVolume { get; set; }
        
        public string Source { get; set; }

        public bool IsLocal { get; set; } = true;
    }

    private void DisableRefresh()
    {
        IsRefresh = false;
        StateHasChanged();
    }

    private void EnableRefresh()
    {
        IsRefresh = true;
        StateHasChanged();
    }

    public int MaxCount { get; set; }

}