@using Service.Liquidity.Engine.Domain.Models.Settings
        
<tr>
    <td>
        @if (IsNewRow)
        {
            <input type="text" @bind="Provider.InstrumentSymbol" />
        }
        else
        {
            @Provider.InstrumentSymbol   
        }
    </td>
    <td>
        @if (IsEditRow)
        {
            <input type="text" @bind="Provider.Mode" />
        }
        else
        {
            @Provider.Mode    
        }
    </td>
    <td>
        @if (IsEditRow)
        {
            <input type="text" @bind="Provider.ExternalMarket" />
        }
        else
        {
            @Provider.ExternalMarket    
        }
    </td>
    <td>
        @if (IsEditRow)
        {
            <input type="text" @bind="Provider.ExternalSymbol" />
        }
        else
        {
            @Provider.ExternalSymbol    
        }
    </td>
    <td>
        @if (IsEditRow)
        {
            <input type="number" @bind="Provider.Markup" />
        }
        else
        {
            @Provider.Markup    
        }
    </td>
    <td>
        @if (IsEditRow)
        {
            <input type="number" @bind="Provider.MaxBuySideVolume" />
        }
        else
        {
            @Provider.MaxBuySideVolume    
        }
    </td>
    <td>
        @if (IsEditRow)
        {
            <input type="number" @bind="Provider.MaxSellSideVolume" />
        }
        else
        {
            @Provider.MaxSellSideVolume    
        }
    </td>
    <td>
        @if (IsEditRow)
        {
            <input type="text" @bind="Provider.WalletName" />
        }
        else
        {
            @Provider.WalletName    
        }
    </td>
    
    <td>
        <ul class="nav">
            <li><button type="button" class="btn-outline-info btn" @onclick="ClickDetails" >...</button></li>
            @if (!IsEditRow)
            {
                <li><button type="button" class="btn-outline-warning btn" @onclick="ClickEdit">Edit</button></li>
            }
            @if (IsEditRow)
            {
                <li><button type="button" class="btn-outline-success btn" @onclick="ClickApply" >Save</button></li>
                <li><button type="button" class="btn-outline-danger btn" @onclick="ClickCancel" >Cancel</button></li>
            }
        </ul>
    </td>
    
</tr>    
@if (IsActiveRow && !IsNewRow)
{
    <tr>
        <td colspan="10">
            <MarketMakerDetailsComponent />
        </td>
    </tr>
}
        
@code {

    [Parameter]
    public bool IsActiveRow { get; set; }
    
    [Parameter]
    public bool IsEditRow { get; set; }
    
    [Parameter]
    public bool IsNewRow { get; set; }
    
    [Parameter]
    public MirroringLiquiditySettings Provider { get; set; }
    
    [Parameter]
    public Func<MirroringLiquiditySettings, Task> UpdateCallback { get; set; }

    private void ClickDetails()
    {
        IsActiveRow = !IsActiveRow;
        StateHasChanged();
    }

    private void ClickEdit()
    {
        IsEditRow = true;
        StateHasChanged();
    }

    private async Task ClickApply()
    {
        if (UpdateCallback != null)
            await UpdateCallback.Invoke(Provider);

        IsEditRow = false;
        await InvokeAsync(StateHasChanged);
    }

    private void ClickCancel()
    {
        IsEditRow = false;
        StateHasChanged();
    }

}