@using Backoffice.Components.BitGo.Balances
@using Backoffice.Components.BitGo.SessionUnlock
@using Backoffice.Components.BitGo.Wallets
@using Backoffice.Components.BitGo.Users
@using Backoffice.Components.BitGo.PendingApprovals

@page "/BitGo"

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Coins)" aria-current="page" @onclick="SetCoins">Coins</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Assets)" aria-current="page" @onclick="SetAssets">Assets</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Balances)" aria-current="page" @onclick="SetBalances">Balances</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.PendingApprovals)" aria-current="page" @onclick="SetPendingApprovals">Pending Approvals</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.UnlockSession)" aria-current="page" @onclick="SetUnlockSession">Unlock session</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Wallets)" aria-current="page" @onclick="SetWallets">Wallets</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.Users)" aria-current="page" @onclick="SetUsers">Users</button>
    </li>
</ul>

<div style="margin: 10px">
    @if (ActivePage == Menus.Coins)
    {
        <BitGoCoinListComponent/>
    }

    @if (ActivePage == Menus.Assets)
    {
        <BitGoAssetListComponent/>
    }

    @if (ActivePage == Menus.Balances)
    {
        <BitGoWalletBalanceListComponent/>
    }

    @if (ActivePage == Menus.UnlockSession)
    {
        <BitGoSessionUnlockComponent/>
    }

    @if (ActivePage == Menus.Wallets)
    {
        <BitGoWalletsListComponent/>
    }

    @if (ActivePage == Menus.Users)
    {
        <BitGoUsersListComponent/>
    }

    @if (ActivePage == Menus.PendingApprovals)
    {
        <BitGoPendingApprovalsListComponent/>
    }
</div>

@code {
    private Menus ActivePage { get; set; } = Menus.Coins;

    private string CheckActive(Menus target)
    {
        if (ActivePage == target)
            return "active";

        return "";
    }

    private void SetActive(Menus page)
    {
        ActivePage = page;
        StateHasChanged();
    }

    public enum Menus
    {
        None,
        Coins,
        Assets,
        Balances,
        UnlockSession,
        Wallets,
        Users,
        PendingApprovals
    }


    private void SetCoins()
    {
        SetActive(Menus.Coins);
    }

    private void SetAssets()
    {
        SetActive(Menus.Assets);
    }

    private void SetBalances()
    {
        SetActive(Menus.Balances);
    }

    private void SetUnlockSession()
    {
        SetActive(Menus.UnlockSession);
    }

    private void SetWallets()
    {
        SetActive(Menus.Wallets);
    }

    private void SetUsers()
    {
        SetActive(Menus.Users);
    }

    private void SetPendingApprovals()
    {
        SetActive(Menus.PendingApprovals);
    }
}