@page "/Clients"

@using Service.ClientWallets.Grpc
@using Service.ClientWallets.Grpc.Models
@using System.Net.Mail
@using AsyncAwaitUtils
@using Backoffice.Components.Clients.Model
@using MyCrm.PersonalData.Grpc
@using MyCrm.PersonalData.Grpc.Contracts

@inject IClientWalletService _walletService
@inject IMyCrmPersonalDataGrpcService _crmPersonalDataService 

<table style="width: 100%; height: 100%">
    <tr>
        <table style="width: auto">
            <tr>
                <td>
                    <span>Client Identification</span>
                </td>
                <td>
                    <input type="text" @bind="@SearchText"/>
                </td>
                <td>
                    <button type="button" @onclick="Search">Search</button>
                </td>
                <td>
                    <button type="button">Last searches</button>
                </td>
            </tr>
        </table>
    </tr>
    @if (ShowError)
    {
        <tr>
            Client do not found.
        </tr>
    }    
    @if (ClientResults != null)
    {
        <table>
            <thead>
            <tr>
                <th>ClientId</th>
                <th>BrokerId</th>
                <th>BrandId</th>
                <th>Count Wallets</th>
                <th>Email Confirmed</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in ClientResults)
            {
            <tr>
                <td style="min-width: 80px">
                    <a href="" @onclick="@(() => SelectClient(item))" @onclick:preventDefault>@item.ClientId</a>
                </td>
                <td style="min-width: 80px">@item.BrokerId</td>
                <td style="min-width: 80px">@item.BrandId</td>
                <td>
                    <div style="text-align: center; width: 100%">@item.Count</div>
                </td>
                <td>@item.EmailConfirmed</td>
            </tr>
            }
            </tbody>
        </table>
    }
    @if (ClientResult != null)
    {
        <tr>
            <td rowspan="4">
                <ClientPresentationComponent ClientId="@ClientResult.ClientId" BrandId="@ClientResult.BrandId" BrokerId="@ClientResult.BrokerId" EmailConfirmed="@ClientResult.EmailConfirmed" Email="@ClientResult.Email"/>
            </td>
        </tr>
    }

</table>

@code {

    private string SearchText { get; set; }

    private bool ShowError { get; set; } = false;
    
    private ClientResultModel ClientResult { get; set; }
    
    private List<ClientResultModel> ClientResults { get; set; }

    private async Task Search()
    {
        ShowError = false;
        ClientResult = null;
        ClientResults = new();
        
        StateHasChanged();
        
        if (string.IsNullOrEmpty(SearchText))
        {
            ShowError = true;
            StateHasChanged();
            return;
        }

        var crmData = await _crmPersonalDataService.GetByPhraseAsync(new GetByPhraseGrpcRequest
        {
            UserId = Program.Settings.CrmUserId,
            Phrase = SearchText
        }).ToListAsync();
        foreach (var result in crmData)
        {
            var response = await _walletService.SearchClientsAsync(new SearchWalletsRequest
            {
                SearchText = result.Id,
                Take = 10
            });
            if (response.Clients?.Any() == true)
            {
                ClientResults.AddRange(response.Clients.Select(client => new ClientResultModel(client, result.EmailIsConfirmed, result.Email)));
            }
        }
        
        if (!ClientResults.Any())
        {
            var response = await _walletService.SearchClientsAsync(new SearchWalletsRequest()
            {
                SearchText = SearchText,
                Take = 10
            });
            
            if (response.Clients?.Any() != true)
            {
                ShowError = true;
                StateHasChanged();
                return;
            }
            
            foreach (var client in response?.Clients)
            {
                try
                {
                    var crmResponse = await _crmPersonalDataService.GetAsync(new GetPersonalDataGrpcRequest()
                    {
                        TraderId = client.ClientId,
                        BackOfficeUserId = Program.Settings.CrmUserId
                    });
                    ClientResults.Add(new ClientResultModel(client, crmResponse.Trader.EmailIsConfirmed, crmResponse.Trader.Email));
                }
                catch
                {
                    ClientResults.Add(new ClientResultModel(client, false, ""));
                }
            }
        }

        if (ClientResults?.Any() != true)
        {
            ShowError = true;
            StateHasChanged();
            return;
        }
        
        if (ClientResults?.Count == 1)
        {
            ClientResult = ClientResults[0];
            ClientResults = new();
            StateHasChanged();
            return;
        }
        
        StateHasChanged();
    }
    
    private bool IsEmail(string value)
    {
        try
        {
            var m = new MailAddress(value);
            return true;
        }
        catch (FormatException)
        {
            return false;
        }
    }


    private void SelectClient(ClientResultModel result)
    {
        ClientResults = null;
        ClientResult = result;
        StateHasChanged();
    }

}