@page "/Clients"

@using Service.ClientWallets.Grpc
@using Service.ClientWallets.Grpc.Models
@using SimpleTrading.PersonalData.Grpc
@using System.Net.Mail

@inject IClientWalletService _walletService
@inject IPersonalDataServiceGrpc _personalDataServiceGrpc 

<table style="width: 100%; height: 100%">
    <tr>
        <table style="width: auto">
            <tr>
                <td>
                    <span>Client Identification</span>
                </td>
                <td>
                    <input type="text" @bind="@SearchText"/>
                </td>
                <td>
                    <button type="button" @onclick="Search">Search</button>
                </td>
                <td>
                    <button type="button">Last searches</button>
                </td>
            </tr>
        </table>
    </tr>
    @if (ShowError)
    {
        <tr>
            Client do not found.
        </tr>
    }    
    @if (SearchResult != null)
    {
        <table>
            <thead>
            <tr>
                <th>ClientId</th>
                <th>BrokerId</th>
                <th>BrandId</th>
                <th>Count Wallets</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in SearchResult)
            {
            <tr>
                <td style="min-width: 80px">
                    <a href="" @onclick="@(() => SelectClient(item))" @onclick:preventDefault>@item.ClientId</a>
                </td>
                <td style="min-width: 80px">@item.BrokerId</td>
                <td style="min-width: 80px">@item.BrandId</td>
                <td>
                    <div style="text-align: center; width: 100%">@item.Count</div>
                </td>
            </tr>
            }
            </tbody>
        </table>
    }
    @if (Client != null)
    {
        <tr>
            <td rowspan="4">
                <ClientPresentationComponent ClientId="@Client.ClientId" BrandId="@Client.BrandId" BrokerId="@Client.BrokerId"/>
            </td>
        </tr>
    }

</table>

@code {

    private string SearchText { get; set; }

    private bool ShowError { get; set; } = false;
    
    private SearchWallet Client { get; set; }
    
    private List<SearchWallet> SearchResult { get; set; }

    private async Task Search()
    {
        ShowError = false;
        Client = null;
        SearchResult = null;
        
        StateHasChanged();
        
        if (string.IsNullOrEmpty(SearchText))
        {
            ShowError = true;
            StateHasChanged();
            return;
        }


        var clients = new SearchWalletsResponse();
        
        if (IsEmail(SearchText))
        {
            var personalData = await _personalDataServiceGrpc.GetByEmail(SearchText);
            clients = await _walletService.SearchClientsAsync(new SearchWalletsRequest()
            {
                SearchText = personalData?.PersonalData?.Id ?? SearchText,
                Take = 10
            });
        }
        else
        {
            clients = await _walletService.SearchClientsAsync(new SearchWalletsRequest()
            {
                SearchText = SearchText,
                Take = 10
            });
        }

        if (clients.Clients?.Any() != true)
        {
            ShowError = true;
            StateHasChanged();
            return;
        }
        
        if (clients.Clients?.Count == 1)
        {
            Client = clients.Clients[0];
            StateHasChanged();
            return;
        }

        SearchResult = clients.Clients;
        
        StateHasChanged();
    }
    
    private bool IsEmail(string value)
    {
        try
        {
            var m = new MailAddress(value);
            return true;
        }
        catch (FormatException)
        {
            return false;
        }
    }


    private void SelectClient(SearchWallet wallet)
    {
        SearchResult = null;
        Client = wallet;
        StateHasChanged();
    }

}