@using Backoffice.Components.Prices.ExternalMarkets

@page "/Prices"

<ul class="nav nav-tabs nav-pills">
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.CurrentPrice)" @onclick="SetCurrentPrices" >Current Prices</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.ConversionPrices)" @onclick="SetConversionPrices" >ConversionPrices</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.BasePrices)" @onclick="SetBasePrices" >BasePrices</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.IndexPrices)" @onclick="SetIndexPrices" >IndexPrices</button>
    </li>
    <li class="nav-item" style="margin: 10px">
        <button class="nav-link @CheckActive(Menus.ExternalMarkets)" @onclick="SetExternalMarkets" >ExternalMarkets</button>
    </li>
</ul>

<div style="margin: 10px">
    
    @if (ActivePage == Menus.BasePrices)
    {
        <BasePriceComponent />
    }
    @if (ActivePage == Menus.IndexPrices)
    {
        <IndexPricesComponent />
    }
    @if (ActivePage == Menus.ConversionPrices)
    {
        <ConversionIndexPricesComponent />
    }
    @if (ActivePage == Menus.CurrentPrice)
    {
        <CurrentPricesComponent />
    }
        @if (ActivePage == Menus.ExternalMarkets)
        {
            <ExernalMarketComponent />
        }
</div>

@code {

    private Menus ActivePage { get; set; } = Menus.CurrentPrice;

    private string CheckActive(Menus target)
    {
        if (ActivePage == target)
            return "active";

        return "";
    }
    
    private void SetExternalMarkets()
    {
        SetActive(Menus.ExternalMarkets);
    }

    private void SetBasePrices()
    {
        SetActive(Menus.BasePrices);
    }

    private void SetIndexPrices()
    {
        SetActive(Menus.IndexPrices);
    }

    private void SetConversionPrices()
    {
        SetActive(Menus.ConversionPrices);
    }

    private void SetActive(Menus page)
    {
        ActivePage = page;
        StateHasChanged();
    }
    
    public enum Menus
    {
        BasePrices,
        IndexPrices,
        ConversionPrices,
        CurrentPrice,
        ExternalMarkets
    }

    private void SetCurrentPrices()
    {
        SetActive(Menus.CurrentPrice);
    }

}