@using Service.PriceHistory.Grpc
@using Service.PriceHistory.Grpc.Models
@inject IBasePriceSerivce _basePriceSerivce
<h3>Base prices</h3>

<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>#</th>
        <th>Asset</th>
        <th>CurrentPrice</th>
        <th>H24P</th>
        <th>H24A</th>
        <th>D7</th>
        <th>M1</th>
        <th>M7</th>
    </tr>
    </thead>
    <tbody>
    @{
        var rowNumber = 0;
    }
        
    @foreach (var price in _prices)
    {
        rowNumber++;
        <tr>
            <td>@rowNumber</td>
            <td>@price.AssetId</td>
            <td>@price.CurrentPrice</td>
            <td>@price.H24P</td>
            <td>@price.H24A</td>
            <td>@price.D7</td>
            <td>@price.M1</td>
            <td>@price.M3</td>
            <td>
                <ul class="nav">
                    <li><button type="button" class="btn-outline-info btn"  @onclick="() => { ShowEdit(price); }">Edit</button></li>
                </ul>
            </td>
        </tr>
    }
    </tbody>

</table>

@if (IsShowEdit)
{
    <div>
        <BasePriceEditDialog BasePrice="@BasePrice" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="async () => { await OnUpdateBasePrice(); }"/>
    </div>
}

@code {
    private List<BasePriceResponse> _prices = new();
    private bool IsShowEdit  { get; set; }
    private BasePriceEditRequest BasePrice;

    protected override async Task OnInitializedAsync()
    {
        await RefreshPrices();
    }

    private void ShowEdit(BasePriceResponse basePrice)
    {
        BasePrice = new BasePriceEditRequest()
        {
            AssetId = basePrice.AssetId,
            BrokerId = basePrice.BrokerId,
            CurrentPrice = basePrice.CurrentPrice,
            D7 = basePrice.D7,
            H24 = basePrice.H24A,
            M1 = basePrice.M1,
            M3 = basePrice.M3
        };
        IsShowEdit = true;
    }
    private async Task RefreshPrices()
    {
        _prices = (await _basePriceSerivce.GetAllPrices(new BasePriceRequest()
        {
            BrokerId = "jetwallet"
        })).BasePrices;

        StateHasChanged();
    }
    
    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }

    private async Task OnUpdateBasePrice()
    {
        IsShowEdit = false;
        await _basePriceSerivce.EditBasePriceRecord(BasePrice);
        await RefreshPrices();
    }
}