@using Service.PriceHistory.Grpc
@using Service.PriceHistory.Grpc.Models
@using Service.PriceHistory.Domain.Models
@inject IBasePriceSerivce _basePriceService
<h3>Base prices</h3>

<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>#</th>
        <th>Base Asset</th>
        <th>Quote Asset</th>
        <th>CurrentPrice</th>
        <th>H24</th>
        <th>D7</th>
        <th>M1</th>
        <th>M3</th>
    </tr>
    </thead>
    <tbody>
    @{
        var rowNumber = 0;
    }
        
    @foreach (var basePrice in _prices)
    {
        foreach (var quotePrice in basePrice.PricesByQuoteAsset)
        {
            rowNumber++;
            <tr>
                <td>@rowNumber</td>
                <td>@basePrice.BaseAsset</td>
                <td>@quotePrice.Asset</td>
                <td>@quotePrice.CurrentPrice</td>
                <td>@quotePrice.H24</td>
                <td>@quotePrice.D7</td>
                <td>@quotePrice.M1</td>
                <td>@quotePrice.M3</td>
            </tr>
        }
    }
    </tbody>

</table>

@if (IsShowEdit)
{
    <div>
        <BasePriceEditDialog BasePrice="@BasePrice" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="async () => { await OnUpdateBasePrice(); }"/>
    </div>
}

@code {
    private List<AssetPrices> _prices = new();
    private bool IsShowEdit  { get; set; }
    private BasePriceEditRequest BasePrice;

    protected override async Task OnInitializedAsync()
    {
        await RefreshPrices();
    }

    private void ShowEdit(BasePriceResponse basePrice)
    {
        BasePrice = new BasePriceEditRequest()
        {
            AssetId = basePrice.AssetId,
            BrokerId = basePrice.BrokerId,
            CurrentPrice = basePrice.CurrentPrice,
            D7 = basePrice.D7,
            H24 = basePrice.H24A,
            M1 = basePrice.M1,
            M3 = basePrice.M3
        };
        IsShowEdit = true;
    }
    private async Task RefreshPrices()
    {
        var response = await _basePriceService.GetAssetPricesV2();
        _prices = response.AssetPrices ?? new List<AssetPrices>();

        StateHasChanged();
    }
    
    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }

    private async Task OnUpdateBasePrice()
    {
        IsShowEdit = false;
        await _basePriceService.EditBasePriceRecord(BasePrice);
        await RefreshPrices();
    }
}