@using SimpleTrading.CandlesHistory.Grpc
@using Backoffice.Services.SpotInstruments
@using DotNetCoreDecorators
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json
@using SimpleTrading.CandlesHistory.Grpc.Contracts
@using SimpleTrading.CandlesHistory.Grpc.Models
@using SimpleTrading.Abstraction.Candles;

@inject ILogger<CandleHistoryHttp> _logger

<h3>CandleHistory</h3>
<div class="table" style="margin: 30px">
    <div class="row">
        <span>Url: </span>
        <input type="text" class="form-control" @bind="_url"/>
    </div>
    <div class="row">
        <span>Auth Token: </span>
        <input type="text" class="form-control" @bind="_authToken"/>
    </div>
    <div class="row">
        <span>Instrument: </span>
        <input type="text" class="form-control" @bind="_instruction"/>
    </div>
    <div class="row">
        <span>time frame: </span>
        <select @bind="_timeFrame" style="width: 100px">
            <option value=@CandleType.Minute>Minute</option>
            <option value=@CandleType.Hour>Hour</option>
            <option value=@CandleType.Day>Day</option>
            <option value=@CandleType.Month>Month</option>
        </select>
    </div>
    <div class="row">
        <span>tIsBid: </span>
        <select @bind="IsBid" style="width: 100px">
            <option value=1>true</option>
            <option value=0>false</option>
        </select>
    </div>
    <div class="row">
        <DatesRangePicker OnSelectEvent="SelectDateRange"></DatesRangePicker>
    </div>
    <div class="row">
        <button type="button" class="btn-outline-info btn" @onclick="ShowCandles" >Show</button>
        
    </div>
</div>

<span style="margin: 10px"></span>

<div>
    <span>Count: @_data.Count (show only 200) </span>
</div>

<span style="margin: 10px"></span>

<div>
    <table>
        <thead>
        <tr>
        <th style="width: 150px">time</th>
        <th style="width: 100px">open</th>
        <th style="width: 100px">high</th>
        <th style="width: 100px">low</th>
        <th style="width: 100px">close</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _data.Take(200))
        {
            <tr>
                <td>@item.D.UnixTimeToDateTime().ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.O</td>
                <td>@item.H</td>
                <td>@item.L</td>
                <td>@item.C</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {

    private string _url;
    private string _authToken;
    private string _instruction;

    private CandleType _timeFrame = CandleType.Day;

    private int IsBid = 1;

    private List<Candle> _data = new List<Candle>();

    private DateTime _from = DateTime.UtcNow.AddDays(-1);
    private DateTime _to = DateTime.UtcNow;

    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
    }

    private void SelectDateRange((DateTime @from, DateTime to) obj)
    {
        _from = obj.from;
        _to = obj.to;
    }

    private async Task ShowCandles()
    {
        if (string.IsNullOrEmpty(_instruction)) return;

        _data = await GetData();

        StateHasChanged();
    }

    private async Task<List<Candle>> GetData()
    {
        try
        {
            var isBid = IsBid == 1 ? "0" : "1";
            var fromDate = _from.UnixTime();
            var toDate = _to.UnixTime();
            var requestUrl = $"{_url}/api/v3/Candles/Candles/{(int) _timeFrame}?Instruction={_instruction}&BidOrAsk={isBid}&FromDate={fromDate}&ToDate={toDate}";
            _logger.LogInformation($"Reqeust url for candles : {requestUrl}");

            var client = new HttpClient();
            var request = new HttpRequestMessage
            {
                Method = HttpMethod.Get,
                RequestUri = new Uri(requestUrl),
                Headers =
                {
                    {"Authorization", $"Bearer {_authToken}"},
                    {"accept", "text/plain"}
                }
            };
            using var response = await client.SendAsync(request);
            var body = await response.Content.ReadAsStringAsync();

            if (string.IsNullOrWhiteSpace(body))
            {
                return new List<Candle>();
            }
            return JsonConvert.DeserializeObject<List<Candle>>(body);
        }
        catch (Exception ex)
        {
            _logger.LogError(ex.Message);
            return new List<Candle>();
        }
    }

    public class Candle
    {
        public long D { get; set; }
        public decimal O { get; set; }
        public decimal C { get; set; }
        public decimal H { get; set; }
        public decimal L { get; set; }
    }
}