@using MyJetWallet.Domain.Prices
@using MyJetWallet.Sdk.Service.Tools
@using Microsoft.Extensions.Logging
@using MyJetWallet.Domain
@using Service.AssetsDictionary.Client
@using Service.AssetsDictionary.Domain.Models
@using Service.IndexPrices.Client
@using Service.IndexPrices.Domain.Models
@using Syncfusion.Blazor.Diagrams
@using Backoffice.Services.Assets

@inject IConvertIndexPricesClient _convertIndexPricesClient
@inject IConvertIndexPriceManager _convertIndexPriceManager;
@inject IToaster _toaster;
@inject IAssetItemManager _assetItemManager;

@implements IDisposable

<h3>Conversion Index Prices</h3>

<table class="table" style="width: auto; font-size: 10px;">
    <tr>
        <th></th>
        @foreach (var asset in _assets.OrderBy(e => e.Symbol))
        {
            <th>@asset.Symbol</th>
        }
    </tr>
    
    @foreach (var asset in _assets.OrderBy(e => e.Symbol))
    {
        <tr>
            <th>@asset.Symbol</th>
            @foreach (var quoteAsset in _assets.OrderBy(e => e.Symbol))
            {
                var price = _prices.FirstOrDefault(e => e.BaseAsset == asset.Symbol && e.QuotedAsset == quoteAsset.Symbol);
                var delay = price != null ? DateTime.UtcNow - price.UpdateDate : TimeSpan.Zero;
                
                if (asset.Symbol == quoteAsset.Symbol)
                {
                    <td style="background: gray">----</td>
                }
                else
                {
                    <td style="background: @(GetRowBackground(price))">
                        <div class="align-content-center">
                            <div class="row">
                                <div class="col-md-1">@price?.Price</div>
                            </div>
                            @if (!string.IsNullOrEmpty(price?.Error))
                            {
                                <div class="row">
                                    <div class="col-md-1">
                                        <Tooltip Text="@price?.Error">error</Tooltip>
                                    </div>
                                </div>
                            }
                            @if (delay.TotalMilliseconds > 2000)
                            {
                                <div class="row">
                                    <div class="col-md-1">@delay.ToString()</div>
                                </div>
                            }
                        </div>
                    </td>
                }
               
            }
        </tr>
    }
    
</table>


<hr style="margin: 50px" />
<h3>Manage prices</h3>

<ul class="nav">
    <li><button type="button" class="btn-outline-info btn" style="height: 20px; font-size: 10px" @onclick="@(() => OpenUpdateWindow(null))" >Create new</button></li>
</ul>    

<table class="table" style="width: auto; font-size: 10px">
    <thead>
    <tr>
        <th>BaseAsset</th>
        <th>QuotedAsset</th>
        <th>Price</th>
        <th>UpdateDate</th>
        <th>Delay</th>
        <th>Error</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var price in _prices)
    {
        <tr style="background: @(GetRowBackground(price))">
            <td>@price.BaseAsset</td>
            <td>@price.QuotedAsset</td>
            <td>@price.Price</td>
            <td>@price.UpdateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>@((DateTime.UtcNow - @price.UpdateDate).ToString())</td>
            <td>
                <ul class="nav">
                    <li><button type="button" class="btn-outline-info btn" style="height: 20px; font-size: 10px" @onclick="@(() => OpenUpdateWindow(price))">update</button></li>
                </ul>
            </td>
            <td>@price.Error</td>
        </tr>
    }
    </tbody>
</table>

@if (UpdateWindowOpen)
{
    <div>
        <BaseTwoButtonsDialog
            Caption="Index Price"
            OnClose="@OnCloseUpdateWindow"
            YesButtonCaption="Save"
            NoButtonCaption="Cancel"
            OnSubmit="@InsertOrReplaceIndexPrice">
            <table>
                <tr>
                    <td>Base Asset</td>
                    <select @bind="@IndexPriceInUpdateWindow.BaseAsset">
                        @foreach (var name in _prices.Select(elem => elem.BaseAsset))
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Quoted Asset</td>
                    <select @bind="@IndexPriceInUpdateWindow.QuotedAsset">
                        @foreach (var name in _prices.Select(elem => elem.QuotedAsset))
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </tr>
                <tr>
                    <td>Conversion Index Price</td>
                    <td><input type="number" class="form-control" @bind=IndexPriceInUpdateWindow.Price /></td>
                </tr>
            </table>
        </BaseTwoButtonsDialog>
    </div>
}


@code {

    private bool _isDispose = false;
    
    private string SelectedSymbol { get; set; }

    private IReadOnlyList<Asset> _assets = new List<Asset>();
    
    protected override async Task OnInitializedAsync()
    {
        var assetList = await _assetItemManager.GetAll();

        _assets = assetList.Select(e => e.Asset).Where(e => e.IsEnabled).ToList();
        
        await ReloadData();

        GlobalTimers.RefreshTimer.RegisterCallback(nameof(IndexPricesComponent), DoTime);
    }

    private async Task DoTime()
    {
        if (_isDispose) return;
        await ReloadData();
        await InvokeAsync(StateHasChanged);
    }

    private async Task ReloadData()
    {
        var prices = _convertIndexPricesClient.GetConvertIndexPricesAsync();

        _prices.Clear();
        _prices.AddRange(prices);
    }

    public void Dispose()
    {
        _isDispose = true;
        GlobalTimers.RefreshTimer.RemoveCallback(nameof(Prices));
    }

    private List<ConvertIndexPrice> _prices = new ();

    private string GetRowBackground(ConvertIndexPrice indexPrice)
    {
        if (!string.IsNullOrWhiteSpace(indexPrice.Error))
            return "lightpink";
        
        return (DateTime.UtcNow - indexPrice.UpdateDate).TotalMilliseconds > 5000 
            ? "lightgoldenrodyellow" 
            : "white";
    }

    private bool UpdateWindowOpen = false;
    private ConvertIndexPrice IndexPriceInUpdateWindow = new ConvertIndexPrice();

    private void OpenUpdateWindow(ConvertIndexPrice price)
    {
        UpdateWindowOpen = true;

        if (price != null)
        {
            IndexPriceInUpdateWindow.BaseAsset = price.BaseAsset;
            IndexPriceInUpdateWindow.QuotedAsset = price.QuotedAsset;
            IndexPriceInUpdateWindow.Price = price.Price;
        }
        
        StateHasChanged();
    }

    private void OnCloseUpdateWindow()
    {
        UpdateWindowOpen = false;
        IndexPriceInUpdateWindow = new ConvertIndexPrice();
        
        StateHasChanged();
    }

    private void InsertOrReplaceIndexPrice()
    {
        if (IndexPriceInUpdateWindow.BaseAsset == string.Empty)
            return;
        
        if (IndexPriceInUpdateWindow.QuotedAsset == string.Empty)
            return;
        
        if(!_convertIndexPriceManager.ChangeIndexPrice(IndexPriceInUpdateWindow.BaseAsset, IndexPriceInUpdateWindow.QuotedAsset, IndexPriceInUpdateWindow.Price))
            _toaster.Error($"Unable to change convert price for pair {IndexPriceInUpdateWindow.BaseAsset} {IndexPriceInUpdateWindow.QuotedAsset}");

        OnCloseUpdateWindow();
    }

}