@inject ILoggerFactory LoggerFactory

@using Microsoft.Extensions.Logging
@using Service.Simulation.Grpc.Models
@using Backoffice.Services.Simulations
@using Backoffice.GlobalTimers
@implements IDisposable

@if (Simulation != null)
{
    <table>
        <tr>
            <td>
                <h3>Simulation: @Simulation.Name</h3>
            </td>
            <td>
                <ul class="nav float-left">
                    <li><button @onclick="Refresh" type="button" class="btn btn-outline-primary" style="margin: 5px; border-radius: 10px">Refresh</button></li>
                </ul>
            </td>
        </tr>

    </table>

    <div>
        <h4>Balances</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Asset</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var balance in _balances)
            {
                <tr>
                    <td>@balance.Symbol</td>
                    <td>@balance.Amount</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div>
        <h4>Trades</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Timestamp</th>
                <th>Market</th>
                <th>Side</th>
                <th>Price</th>
                <th>Size</th>
                <th>Id</th>
                <th>ClientId</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var trade in _trades)
            {
                <tr>
                    <td>@trade.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@trade.Market</td>
                    <td>@trade.Side</td>
                    <td>@trade.Price</td>
                    <td>@trade.Size</td>
                    <td>@trade.Id</td>
                    <td>@trade.ClientId</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@code {
    
    [Parameter]
    public SimulationService Simulation { get; set; }
    
    private List<GetBalancesResponse.Balance> _balances = new();
    private List<SimTrade> _trades = new();

    private bool _isDispose;

    protected override async Task OnInitializedAsync()
    {
        _balances = new();
        _trades = new();
        StateHasChanged();
        
        await Refresh();

        RefreshTimer.RegisterCallback($"simulation: {Simulation.Name}", DoTimer);
    }

    private async Task DoTimer()
    {
        if (_isDispose) return;
        await Refresh();
    }

    private async Task Refresh()
    {
        var balances = await Simulation.TradingService.GetBalancesAsync();
        _balances = balances.Balances ?? new List<GetBalancesResponse.Balance>();
        
        var history = await Simulation.HistoryService.GetTradesAsync();
        _trades = history.Trades ?? new List<SimTrade>();

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _isDispose = true;
        RefreshTimer.RemoveCallback($"simulation: {Simulation.Name}");
    }
}