@using Service.AssetsDictionary.Domain.Models
@using Service.AssetsDictionary.Grpc
@using Backoffice.Abstractions.Models
@using Backoffice.Services.Assets
@using Microsoft.Extensions.Logging
@using Microsoft.Extensions.Primitives

@inject IAssetItemManager AssetItemManager;
@inject IToaster ToastService;


<tr style="@(!Item.Asset.IsEnabled ? "background: lightgray" : "")">
    <td >@Item.Asset.BrokerId</td>
    <td>@Item.Asset.Symbol</td>
    <td>@Item.Asset.Description</td>
    <td style="@(!Item.Asset.IsEnabled ? "background: red" : "")">@Item.Asset.IsEnabled</td>
    <td>@Item.Asset.Accuracy</td>
    
    <td>
        <MyLabel Text="KYC" Color="orange" IsShow="@Item.Asset.KycRequiredForDeposit" />
        <MyLabel Text="BitGo" Color="lightblue" IsShow="@Item.PaymentSettings?.PaymentSettings?.BitGoCrypto?.IsEnabledDeposit" />
        <MyLabel Text="PciDss" Color="lightblue" IsShow="@Item.PaymentSettings?.PaymentSettings?.PciDss?.IsEnabledDeposit" />
    </td>
    
    <td>
        <MyLabel Text="KYC" Color="orange" IsShow="@Item.Asset.KycRequiredForWithdrawal" />
        <MyLabel Text="BitGo" Color="lightblue" IsShow="@Item.PaymentSettings?.PaymentSettings?.BitGoCrypto?.IsEnabledWithdrawal" />
    </td>
    <td>
        @foreach (var brand in Item.Brands)
        {
            <MyLabel Color="lightyellow" Text="@brand" />            
        }
    </td>

    <td>
        <ul class="nav">
            <li><button type="button" class="btn-outline-info btn" @onclick="ShowDetails" >Details</button></li>
            <li><button type="button" class="btn-outline-warning btn" @onclick="ShowEdit" >Edit</button></li>
            @if (!Item.Asset.IsEnabled)
            {
                <li><button type="button" class="btn-outline-danger btn" @onclick="ShowDelete">Delete</button></li>
            }
            <li><button type="button" class="btn-outline-secondary btn" @onclick="ShowBrand">Brand</button></li>
        </ul>
    </td>
</tr>

@if (IsShowDetails)
{
    <AssetDetailsDialog Item="@Item" OnCloseCallback="OnCloseAssetDialog" />
}

@if (IsShowEdit)
{
    <div>
        <AssetDetailsDialogEdit Item="@Item" IsCreate="false" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="OnUpdateAsset" />
    </div>
}

@if (IsShowDelete)
{
    <div>
        <BaseTwoButtonsDialog
            Caption=@($"Delete asset {Item.Asset.Symbol} [{Item.Asset.BrokerId}]")
            OnClose="OnCloseDeleteDialog"
            YesButtonCaption="Delete"
            NoButtonCaption="Cancel"
            OnSubmit="DeleteItem">
            
            <h3 class="alert-warning">Are you sure you want to delete the asset <b>@Item.Asset.Symbol [@Item.Asset.BrokerId]?</b></h3>
            
        </BaseTwoButtonsDialog>
    </div>
}

@if (IsShowBrand)
{
    <div>
        <BaseTwoButtonsDialog
            Caption=@($"Change Brands {Item.Asset.Symbol} [{Item.Asset.BrokerId}]")
            OnClose="OnCloseBrandDialog"
            YesButtonCaption="Change"
            NoButtonCaption="Cancel"
            OnSubmit="ChangeBrand">
            
            <table>
                <tr>
                    <td>Brand Id</td>
                    <td><input type="text" class="form-control" @bind=ChangeBrandId /></td>
                </tr>
                
                <tr>
                    <td>Assigned</td>
                    <td><input type="checkbox" @bind=IsBrandAssigned /></td>
                </tr>
                
            </table>
            
        </BaseTwoButtonsDialog>
    </div>
    
}



@code {
    
    [Parameter]
    public AssetItem Item { get; set; }

    [Parameter]
    public ILoaderConfiguration LoaderConfig { get; set; }
    
    [Parameter]
    public EventCallback<AssetItem> OnDeleteCallback { get; set; }
    
    private bool IsShowDetails { get; set; }
    private string ChangeBrandId { get; set; }
    private bool IsBrandAssigned { get; set; }
    
    private bool IsShowEdit { get; set; }
    
    private bool IsShowDelete { get; set; }
    
    private bool IsShowBrand { get; set; }

    private void OnCloseAssetDialog()
    {
        IsShowDetails = false;
        StateHasChanged();
    }

    private void ShowDetails()
    {
        IsShowDetails = true;
        StateHasChanged();
    }

    private void ShowEdit()
    {
        IsShowEdit = true;
        StateHasChanged();
    }

    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }
    
    private async void OnUpdateAsset(AssetItem asset)
    {
        try
        {
            await AssetItemManager.UpdateAsset(asset);

            IsShowEdit = false;

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Edit asset");
        }
    }


    private void OnCloseDeleteDialog()
    {
        IsShowDelete = false;
        StateHasChanged();
    }


    private async Task DeleteItem()
    {
        IsShowDelete = false;
        await OnDeleteCallback.InvokeAsync(Item);
    }

    private void ShowDelete()
    {
        IsShowDelete = true;
        StateHasChanged();
    }

    private void ShowBrand()
    {
        IsBrandAssigned = false;
        ChangeBrandId = "";
        IsShowBrand = true;
        StateHasChanged();
    }

    private void OnCloseBrandDialog()
    {
        IsShowBrand = false;
        StateHasChanged();
    }

    private async Task ChangeBrand()
    {
        try
        {
            if (IsBrandAssigned && !string.IsNullOrEmpty(ChangeBrandId))
                await AssetItemManager.AddBrand(Item, ChangeBrandId);
            else
                await AssetItemManager.RemoveBrand(Item, ChangeBrandId);
            
            ToastService.Info("Brand is changed", "Change asset brand");
            
            IsShowBrand = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Change asset brand");
        }

    }

}
