@using Service.AssetsDictionary.Domain.Models
@using Service.AssetsDictionary.Grpc
@using Backoffice.Abstractions.Models
@using Microsoft.Extensions.Logging

@inject IAssetsDictionaryService AssetsDictionaryService;
@inject IToaster ToastService;
@inject ILogger Logger;

<tr style="@(!Item.IsEnabled ? "background: lightgray" : "")">
    <td >@Item.BrokerId</td>
    <td>@Item.Symbol</td>
    <td>@Item.Description</td>
    <td style="@(!Item.IsEnabled ? "background: red" : "")">@Item.IsEnabled</td>
    <td>@Item.Accuracy</td>
    <td style="background: @(Item.KycRequiredForDeposit ? "orange" : "#28a745")">@Item.KycRequiredForDeposit</td>
    <td style="background: @(Item.KycRequiredForWithdrawal ? "orange" : "#28a745")">@Item.KycRequiredForWithdrawal</td>
    <td>
        <ul class="nav">
            <li><button type="button" class="btn-outline-info btn" @onclick="ShowDetails" >Details</button></li>
            <li><button type="button" class="btn-outline-warning btn" @onclick="ShowEdit" >Edit</button></li>
            <li><button type="button" class="btn-outline-danger btn" @onclick="ShowDelete" >Delete</button></li>
        </ul>
    </td>
</tr>

@if (IsShowDetails)
{
    <AssetDetailsDialog Item="@Item" OnCloseCallback="OnCloseAssetDialog" />
}

@if (IsShowEdit)
{
    <div>
        <AssetDetailsDialogEdit Item="@Item" IsCreate="false" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="OnUpdateAsset" />
    </div>
}

@if (IsShowDelete)
{
    <div>
        <BaseTwoButtonsDialog
            Caption=@($"Delete asset {Item.Symbol} [{Item.BrokerId}]")
            OnClose="OnCloseDeleteDialog"
            YesButtonCaption="Delete"
            NoButtonCaption="Cancel"
            OnSubmit="DeleteItem">
            
            <h3 class="alert-warning">Are you sure you want to delete the asset <b>@Item.Symbol [@Item.BrokerId]?</b></h3>
            
        </BaseTwoButtonsDialog>
    </div>
}



@code {
    
    [Parameter]
    public Asset Item { get; set; }

    [Parameter]
    public ILoaderConfiguration LoaderConfig { get; set; }
    
    [Parameter]
    public EventCallback<Asset> OnDeleteCallback { get; set; }
    
    private bool IsShowDetails { get; set; }
    
    private bool IsShowEdit { get; set; }
    
    private bool IsShowDelete { get; set; }

    private void OnCloseAssetDialog()
    {
        IsShowDetails = false;
        StateHasChanged();
    }

    private void ShowDetails()
    {
        IsShowDetails = true;
        StateHasChanged();
    }

    private void ShowEdit()
    {
        IsShowEdit = true;
        StateHasChanged();
    }

    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }
    
    private async void OnUpdateAsset(Asset asset)
    {
        try
        {
            var result = await AssetsDictionaryService.UpdateAssetAsync(asset);

            if (!result.IsSuccess)
            {
                ToastService.Error(result.ErrorMessage, "Edit asset");
                return;
            }

            IsShowEdit = false;

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Cannot update asset");
            ToastService.Error($"Cannot update asset, service is not available", "Edit asset");
        }
    }


    private void OnCloseDeleteDialog()
    {
        IsShowDelete = false;
        StateHasChanged();
    }


    private async Task DeleteItem()
    {
        IsShowDelete = false;
        await OnDeleteCallback.InvokeAsync(Item);
    }

    private void ShowDelete()
    {
        IsShowDelete = true;
        StateHasChanged();
    }

}
