@using Backoffice.Services.SpotInstruments
@using Microsoft.AspNetCore.Components
@using MyJetWallet.Domain.ExternalMarketApi
@using MyJetWallet.Domain.ExternalMarketApi.Dto
@using Service.AssetsDictionary.Domain.Models

@inject IExternalExchangeManager _externalExchangeManager;
@inject IExternalMarket _externalMarket;


<BaseTwoButtonsDialog 
    Caption=@(!IsCreate ? $"{Item.Instrument.Symbol} [{Item.Instrument.BrokerId}]" : "Create a new Asset") 
    OnClose="OnClose" 
    YesButtonCaption="@(IsCreate ? "Create" : "Save")"
    NoButtonCaption="Close"
    OnSubmit="OnSubmit">

    <table>
        <tr>
            <td>
            
                <table>
                    <tr>
                        <td>Broker</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.Instrument.BrokerId
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.Instrument.BrokerId"/>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Symbol</td>
                        <td class="float-left">
                            @if (!IsCreate)
                            {
                                @Item.Instrument.Symbol
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="Item.Instrument.Symbol"/>
                            }
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>IsEnabled</td>
                        <td class="float-left" style="@(!Item.Instrument.IsEnabled ? "background: red" : "")">
                            <input type="checkbox" @bind="Item.Instrument.IsEnabled"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Base Asset</td>
                        <input type="text" class="form-control" @bind="Item.Instrument.BaseAsset"/>
                    </tr>
                    <tr>
                        <td>Quote Asset</td>
                        <input type="text" class="form-control" @bind="Item.Instrument.QuoteAsset"/>
                    </tr>
                    <tr>
                        <td>Accuracy</td>
                        <input type="number" class="form-control" @bind="Item.Instrument.Accuracy"/>
                    </tr>
                    
                    <tr>
                        <td>Min Volume</td>
                        <input type="number" class="form-control" @bind="Item.Instrument.MinVolume"/>
                    </tr>
                    <tr>
                        <td>Max Volume</td>
                        <input type="number" class="form-control" @bind="Item.Instrument.MaxVolume"/>
                    </tr>
                    <tr>
                        <td>Max Opposite Volume</td>
                        <input type="number" class="form-control" @bind="Item.Instrument.MaxOppositeVolume"/>
                    </tr>
                    <tr>
                        <td>Market Order<br>Price Threshold</td>
                        <input type="number" class="form-control" @bind="Item.Instrument.MarketOrderPriceThreshold"/>
                    </tr>

                    <tr>
                        <td>KYC Trading</td>
                        <td class="float-left" style="background: @(Item.Instrument.KycRequiredForTrade ? "orange" : "#28a745")">
                            <input type="checkbox" @bind="Item.Instrument.KycRequiredForTrade"/>
                        </td>
                    </tr>
                    <tr>
                        <td>IconUrl</td>
                        <input type="text" class="form-control" @bind="Item.Instrument.IconUrl"/>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Convert Exchange</td>
                        <td class="float-left">
                            @if (ExchangeNames.Any() && Markets.Any())
                            {
                                <select @bind="Item.Instrument.ConvertSourceExchange">
                                    @foreach (var exchange in ExchangeNames)
                                    {
                                        <option value=@exchange>@exchange</option>
                                    }
                                </select>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Convert Market</td>
                        <td class="float-left">
                            @if (!string.IsNullOrEmpty(Item.Instrument.ConvertSourceExchange)
                                 && ExchangeNames.Any() 
                                 && Markets.Any()
                                 && Markets[Item.Instrument.ConvertSourceExchange].Any())
                            {
                                <select @bind="Item.Instrument.ConvertSourceMarket">
                                    @foreach (var market in Markets[Item.Instrument.ConvertSourceExchange])
                                    {
                                        <option value=@market>@market</option>
                                    }
                                </select>
                            }
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</BaseTwoButtonsDialog>


@code {
    
    [Parameter]
    public SpotInstrumentItem Item { get; set; }
    
    [Parameter]
    public EventCallback OnCloseCallback { get; set; }
    
    [Parameter]
    public EventCallback<SpotInstrumentItem> OnCreateCallback { get; set; }
    
    [Parameter]
    public EventCallback<SpotInstrumentItem> OnUpdateCallback { get; set; }

    
    [Parameter]
    public bool IsCreate { get; set; }

    private List<string> ExchangeNames = new List<string>();
    private Dictionary<string, List<string>> Markets = new Dictionary<string, List<string>>();

    private void OnClose()
    {
        OnCloseCallback.InvokeAsync();
    }

    private async Task OnSubmit()
    {
        if (string.IsNullOrEmpty(Item.Instrument.ConvertSourceExchange))
        {
            Item.Instrument.ConvertSourceMarket = string.Empty;
        }
        
        if (IsCreate)
            await OnCreateCallback.InvokeAsync(Item);
        else
            await OnUpdateCallback.InvokeAsync(Item);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (IsCreate)
        {
            Item = new SpotInstrumentItem()
            {
                Instrument = new SpotInstrument()
                {
                    BrokerId = "jetwallet",
                    ConvertSourceExchange = string.Empty,
                    ConvertSourceMarket = string.Empty
                },
                Brands = new List<string>()
            };
        }

        if (string.IsNullOrEmpty(Item.Instrument.ConvertSourceMarket))
        {
            Item.Instrument.ConvertSourceExchange = string.Empty;
        }

        Item.Brands ??= new List<string>();
        
        ExchangeNames = (await _externalExchangeManager.GetExternalExchangeCollectionAsync()).ExchangeNames;
        
        ExchangeNames.Insert(0, string.Empty);
            
        foreach (var exchange in ExchangeNames)
        {
            if (exchange == string.Empty)
            {
                Markets.Add(exchange, new List<string>() {string.Empty});
            }
            else
            {
                var response = await _externalMarket.GetMarketInfoListAsync(new GetMarketInfoListRequest()
                {
                    ExchangeName = exchange
                });

                var markets = response.Infos.Select(t => t.Market).ToList();
                markets.Insert(0, string.Empty);
                Markets.Add(exchange, markets);
            }
        }
    }
}