@using Backoffice.Services.SpotInstruments

@inject ISpotInstrumentManager SpotInstrumentManager;
@inject IToaster ToastService;

<tr style="@(!Item.Instrument.IsEnabled ? "background: lightgray" : "")">
    <td>@Item.Instrument.Symbol</td>
    <td style="@(!Item.Instrument.IsEnabled ? "background: red" : "")">@Item.Instrument.IsEnabled</td>
    
    <td>@Item.Instrument.BaseAsset</td>
    <td>@Item.Instrument.QuoteAsset</td>
    <td>@Item.Instrument.Accuracy</td>
    <td>@Item.Instrument.MinVolume</td>
    <td>@Item.Instrument.MaxVolume</td>
    <td>@Item.Instrument.MaxOppositeVolume</td>
    <td>@Item.Instrument.MarketOrderPriceThreshold</td>

    <td>
        <MyLabel Text="KYC" Color="orange" IsShow="@Item.Instrument.KycRequiredForTrade" />
    </td>
    
    <td>
        @foreach (var brand in Item.Brands)
        {
            <MyLabel Color="lightyellow" Text="@brand" />            
        }
    </td>

    <td>
        <ul class="nav">
            <li><button type="button" class="btn-outline-info btn" @onclick="ShowDetails" >Details</button></li>
            <li><button type="button" class="btn-outline-warning btn" @onclick="ShowEdit" >Edit</button></li>
            @if (!Item.Instrument.IsEnabled)
            {
                <li><button type="button" class="btn-outline-danger btn" @onclick="ShowDelete">Delete</button></li>
            }
            <li><button type="button" class="btn-outline-secondary btn" @onclick="ShowBrand">Brand</button></li>
        </ul>
    </td>
</tr>

@if (IsShowDetails)
{
    <SpotInstrumentDetailsDialog Item="@Item" OnCloseCallback="OnCloseInstrumentDialog" />
}

@if (IsShowEdit)
{
    <div>
        <SpotInstrumentDetailsDialogEdit Item="@Item" IsCreate="false" OnCloseCallback="OnCloseEditDialog" OnUpdateCallback="OnUpdateInstrument" />
    </div>
}

@if (IsShowDelete)
{
    <div>
        <BaseTwoButtonsDialog
            Caption=@($"Delete instrument {Item.Instrument.Symbol} [{Item.Instrument.BrokerId}]")
            OnClose="OnCloseDeleteDialog"
            YesButtonCaption="Delete"
            NoButtonCaption="Cancel"
            OnSubmit="DeleteItem">
            
            <h3 class="alert-warning">Are you sure you want to delete the asset <b>@Item.Instrument.Symbol [@Item.Instrument.BrokerId]?</b></h3>
            
        </BaseTwoButtonsDialog>
    </div>
}

@if (IsShowBrand)
{
    <div>
        <BaseTwoButtonsDialog
            Caption=@($"Change Brands {Item.Instrument.Symbol} [{Item.Instrument.BrokerId}]")
            OnClose="OnCloseBrandDialog"
            YesButtonCaption="Change"
            NoButtonCaption="Cancel"
            OnSubmit="ChangeBrand">
            
            <table>
                <tr>
                    <td>Brand Id</td>
                    <td><input type="text" class="form-control" @bind=ChangeBrandId /></td>
                </tr>
                
                <tr>
                    <td>Assigned</td>
                    <td><input type="checkbox" @bind=IsBrandAssigned /></td>
                </tr>
                
            </table>
            
        </BaseTwoButtonsDialog>
    </div>
}





@code {
    
    [Parameter]
    public SpotInstrumentItem Item { get; set; }
    
    [Parameter]
    public EventCallback<SpotInstrumentItem> OnDeleteCallback { get; set; }
    
    private bool IsShowDetails { get; set; }
    private bool IsShowEdit { get; set; }
    private bool IsShowDelete { get; set; }
    
    private bool IsShowBrand { get; set; }
    private string ChangeBrandId { get; set; }
    private bool IsBrandAssigned { get; set; }

    private void ShowDetails()
    {
        IsShowDetails = true;
        StateHasChanged();        
    }

    private void ShowEdit()
    {
        IsShowEdit = true;
        StateHasChanged();
    }

    private void ShowDelete()
    {
        IsShowDelete = true;
        StateHasChanged();
    }

    private void ShowBrand()
    {
        ChangeBrandId = "";
        IsBrandAssigned = false;
        
        IsShowBrand = true;
        StateHasChanged();
    }

    private void OnCloseInstrumentDialog()
    {
        IsShowDetails = false;
        StateHasChanged();
    }

    private void OnCloseEditDialog()
    {
        IsShowEdit = false;
        StateHasChanged();
    }
    
    private async void OnUpdateInstrument(SpotInstrumentItem item)
    {
        try
        {
            await SpotInstrumentManager.UpdateInstrument(item);

            IsShowEdit = false;
            
            ToastService.Info("Spot Instrument is updated", "Edit Spot Instrument");

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Edit Spot Instrument");
        }
    }


    private void OnCloseDeleteDialog()
    {
        IsShowDelete = false;
        StateHasChanged();
    }

    private async Task DeleteItem()
    {
        await OnDeleteCallback.InvokeAsync(Item);
    }

    private void OnCloseBrandDialog()
    {
        IsShowBrand = false;
        StateHasChanged();
    }

    private async Task ChangeBrand()
    {
        try
        {
            if (IsBrandAssigned && !string.IsNullOrEmpty(ChangeBrandId))
                await SpotInstrumentManager.AddBrand(Item, ChangeBrandId);
            else
                await SpotInstrumentManager.RemoveBrand(Item, ChangeBrandId);
            
            ToastService.Info("Brand is changed", "Change instrument brand");
            
            IsShowBrand = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ToastService.Error(ex.Message, "Change instrument brand");
        }
    }

}