@using Service.Liquidity.Portfolio.Grpc
@using Service.Liquidity.Converter.Grpc.Models
@using Service.Liquidity.Portfolio.Domain.Models
@using Service.Liquidity.Portfolio.Grpc.Models
@inject IAssetPortfolioService _assetPortfolioService

<ul class="nav">
    @if (_trades?.Any() == true)
    {
        <li><button type="button" class="btn-outline-info btn" @onclick="NextPage">>>> Next >>></button></li>
    }
    <li><button type="button" class="btn-outline-secondary btn" @onclick="RefreshHistory">Refresh</button></li>
    <li><span style="margin-left: 10px; vertical-align: center">Count in page: </span><input type="number" style="width: 40px" @bind="CountInPage"/></li>
</ul>

<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>Id</th>
        <th>DateTime</th>
        <th>Symbol</th>
        <th>Side</th>
        <th>Price</th>
        <th>BaseVolume</th>
        <th>QuoteVolume</th>
        <th>BrokerId</th>
        <th>ClientId</th>
        <th>WalletId</th>
        <th>TradeId</th>
        <th>TopicSource</th>                
    </tr>
    </thead>
    <tbody>

    @foreach (var trade in _trades)
    {
        <tr>
            <td>@trade.Id</td>
            <td>@trade.DateTime</td>
            <td>@trade.Symbol</td>
            <td>@trade.Side</td>
            <td>@trade.Price</td>
            <td>@trade.BaseVolume</td>
            <td>@trade.QuoteVolume</td>
            <td>@trade.BrokerId</td>
            <td>@trade.ClientId</td>
            <td>@trade.WalletId</td>
            <td>@trade.TradeId</td>
            <td>@trade.TopicSource</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<Trade> _trades = new();
    private int CountInPage { get; set; } = 20;
    private long _lastSeen = 0;

    protected override async Task OnInitializedAsync()
    {
        await RefreshHistory();
    }

    private async Task RefreshHistory()
    {
        var response = await _assetPortfolioService.GetTradesAsync(new GetTradesRequest() {BatchSize = CountInPage});
        _trades = response.Trades ?? new List<Trade>();
        _lastSeen = response.IdForNextQuery;
        StateHasChanged();
    }

    private async Task NextPage()
    {
        if (_trades?.Any() != true)
            return;
        
        var response = await _assetPortfolioService.GetTradesAsync(new GetTradesRequest() {BatchSize = CountInPage, LastId = _lastSeen});
        
        if (!response.Success || response.Trades == null || response.Trades.Count == 0)
            return;
        
        _trades = response.Trades;
        _lastSeen = response.IdForNextQuery;
        
        StateHasChanged();
    }
}