@using MyJetWallet.Sdk.Authorization.NoSql
@using MyNoSqlServer.Abstractions
@using System.Globalization
@using Service.PushNotification.Domain.Models
@using Service.PushNotification.Grpc
@using Service.PushNotification.Grpc.Models.Requests
@inject IMyNoSqlServerDataWriter<RootSessionNoSqlEntity> _rootWriter;
@inject IMyNoSqlServerDataWriter<ShortRootSessionNoSqlEntity> _shortWriter;

@inject ITokenManager _tokenManager
<h3>ClientSessionsComponent</h3>

<ul class="nav">
    @if (_sessions?.Any() == true)
    {
        <li><button type="button" class="btn-outline-info btn" @onclick="(async () => {await NextPageSessions();})">>>> Next >>></button></li>
    }
    <li><button type="button" class="btn-outline-secondary btn" @onclick="(async () => { await RefreshSessions(); })">Refresh</button></li>
    <li>Count in page: <input type="number" style="width: 40px" @bind="CountInPage"/></li>
</ul>
<table class="table" style="width: auto">
    <thead>
    <tr>
        <th>#</th>
        <th>CreateTime</th>
        <th>RootSessionId</th>
        <th>TraderId</th>
        <th>BrandId</th>
        <th>UserAgent</th>
        <th>IP</th>
        <th>Passed2FA</th>
        <th>EmailVerified</th>
        <th>Description</th>
        <th>Has Public Key</th>
        <th>Has Firebase Token</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @{
        var rowNumber = _index;
        foreach (var session in _sessions ?? new())
        {
            rowNumber++;
            var tokenExists = _tokens.Exists(t => t.RootSessionId == session.RootSessionId.ToString("N"));
            string token = "";
            if (tokenExists)
            {
                token = _tokens.FirstOrDefault(t => t.RootSessionId == session.RootSessionId.ToString("N"))?.Token;
            }
            <tr>
                <td>@rowNumber</td>
                <td>@session.CreateTime.ToString(CultureInfo.InvariantCulture)</td>
                <td>@session.RootSessionId</td>
                <td>@session.TraderId</td>
                <td>@session.BrandId</td>
                <td>@session.UserAgent</td>
                <td>@session.IP</td>
                <td>@session.Passed2FA</td>
                <td>@session.EmailVerified</td>
                <td>@session.Description</td>
                <td>@(!string.IsNullOrWhiteSpace(session?.PublicKeyBase64))</td>
                <td>@tokenExists
                    @if (tokenExists)
                    {
                        <button type="button" class="btn-outline-info btn" @onclick="() => { ShowToken(token); }">Show token</button>
                    }</td>
                <td>
                     <button type="button" class="btn-outline-danger btn" @onclick=" () => {  ShowDeleteDialog(session.RootSessionId); }">Delete Session</button>
                </td>
            </tr>
        }
    }
    </tbody>

</table>

@if (IsShowToken)
{
    <div>
        <ClientTokenPopUp Token="@ShownToken" OnCloseCallback="OnCloseTokenPopUp"/>
    </div>
}
@if (IsShowDeleteDialog)
{
    <div>
        <DeleteConfirmationDialog DeletedThingName="@DeletedThingName" DeletedThingId="@DeletedThingId" OnConfirmCallback="async () => { await OnConfirmDelete(); }" OnCloseCallback="OnCancelDelete" ></DeleteConfirmationDialog>
    </div>
}
@code {
    [Parameter]
    public string ClientId { get; set; }
    
    private List<RootSessionNoSqlEntity> _sessions = new ();
    private List<PushToken> _tokens = new();
    private int CountInPage { get; set; } = 20;
    private DateTime _timeStamp = DateTime.UtcNow;
    private int _currentPageSize = 0;
    private long _index = 0; 
    private bool IsShowToken { get; set; }
    private string ShownToken { get; set; }
    private bool IsShowDeleteDialog { get; set; }
    private string DeletedThingName { get; set; }
    private string DeletedThingId { get; set; }
    private Guid DeletedSessionId { get; set; }

    
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(ClientId))
            return;

        await RefreshSessions();
    }
    
    private async Task RefreshSessions()
    {         
        _timeStamp = DateTime.UtcNow;
        _index = 0;

        _tokens = (await _tokenManager.GetUserTokens(new GetUserTokensRequest()
        {
            ClientId = ClientId
        })).Tokens ?? new ();

        _sessions = (await _rootWriter.GetAsync(ClientId))
            .OrderByDescending(s => s.CreateTime)
            .Take(CountInPage)
            .ToList();
        
        _currentPageSize = CountInPage;
        StateHasChanged();
    }

    private async Task NextPageSessions()
    {
        if (_sessions?.Any() != true)
            return;

        _timeStamp = _sessions.Min(e => e.CreateTime);
        _index += _currentPageSize;
        
        _sessions = (await _rootWriter.GetAsync(ClientId))
            .Where(s => s.CreateTime < _timeStamp)
            .OrderByDescending(s => s.CreateTime)
            .Take(CountInPage)
            .ToList();
        
        
        _currentPageSize = CountInPage;
        StateHasChanged();
    }

    private void ShowToken(string token)
    {
        ShownToken = token;
        IsShowToken = true;
        StateHasChanged();
    }
    
    private void OnCloseTokenPopUp()
    {
        IsShowToken = false;
        StateHasChanged();
    }

    private async Task DeleteSession(Guid rootSessionId)
    {
        var partKey = RootSessionNoSqlEntity.GeneratePartitionKey(ClientId);
        var rowKey = RootSessionNoSqlEntity.GenerateRowKey(rootSessionId);

        await _shortWriter.DeleteAsync(partKey, rowKey);
        await _rootWriter.DeleteAsync(partKey, rowKey);
        
        await RefreshSessions();
    }


    private void ShowDeleteDialog(Guid rootSessionId)
    {
        DeletedSessionId = rootSessionId;
        IsShowDeleteDialog = true;
        DeletedThingId = rootSessionId.ToString("D");
        DeletedThingName = "Session";
        StateHasChanged();
    }

    private async Task OnConfirmDelete()
    {
        IsShowDeleteDialog = false;
        await DeleteSession(DeletedSessionId);
        await RefreshSessions();
    }

    private void OnCancelDelete()
    {
        IsShowDeleteDialog = false;
        DeletedSessionId = Guid.Empty;
        StateHasChanged();
    }

}