@using Backoffice.Components.Clients.Model
@using MyJetWallet.Domain
@using Service.ClientWallets.Domain.Models
@using Service.ClientWallets.Grpc

@inject IClientWalletService _walletService

@if (Client != null)
{
    <table>
        <tr>
            <ClientInfoComponent Client="@Client"/>
        </tr>
        <tr>
            Client Wallets:
            <ul class="nav nav-tabs nav-pills">
                @foreach (var wallet in Client.Wallets)
                {
                    <li class="nav-item" style="margin: 5px">
                        @if (ActiveWallet == wallet)
                        {
                            <button class="page-link" style="color: #1b1e21; background: lightskyblue" @onclick="@(() => SetWallet(wallet))">
                                <span>@wallet.Name</span>
                                @if (wallet.IsDefault)
                                {
                                    <span> (*)</span>
                                }
                            </button>
                        }
                        else
                        {
                            <button class="page-link" style="color: #1b1e21" @onclick="@(() => SetWallet(wallet))">
                                <span>@wallet.Name</span>
                                @if (wallet.IsDefault)
                                {
                                    <span> (*)</span>
                                }
                            </button>
                        }
                    </li>                    
                }
            </ul>
        </tr>
        @if (ActiveWallet != null)
        {

            <tr>
                <ul class="nav nav-tabs nav-pills">
                    <li class="nav-item">
                        <button class="page-link" style="@(GetMenuStyle(ClientPage.Balances))" aria-current="page" @onclick="@(() => SetPage(ClientPage.Balances))">Balances</button>
                    </li>
                    <li class="nav-item">
                        <button class="page-link" style="@(GetMenuStyle(ClientPage.BalanceHistory))" aria-current="page" @onclick="@(() => SetPage(ClientPage.BalanceHistory))">Balance History</button>
                    </li>
                    <li class="nav-item">
                        <button class="page-link" style="@(GetMenuStyle(ClientPage.ActiveOrders))" @onclick="@(() => SetPage(ClientPage.ActiveOrders))">Active Orders</button>
                    </li>
                    <li class="nav-item">
                        <button class="page-link" style="@(GetMenuStyle(ClientPage.TradeHistory))" @onclick="@(() => SetPage(ClientPage.TradeHistory))">Trades</button>
                    </li>
                    <li class="nav-item">
                        <button class="page-link" style="@(GetMenuStyle(ClientPage.BlockchainDepositAddress))" @onclick="@(() => SetPage(ClientPage.BlockchainDepositAddress))">Blockchain Addresses</button>
                    </li>
                </ul>
            </tr>
            <tr>
                <div style="margin: 20px">
                    <CascadingValue Value="@ActiveWallet" Name="Wallet">
                    @switch (ActivePage)
                    {
                        case ClientPage.Balances:
                            <ClientBalancesComponent/>
                            break;

                        case ClientPage.BalanceHistory:
                            <ClientBalanceHistoryComponent/>
                            break;

                        case ClientPage.ActiveOrders:
                            <ClientActiveOrdersComponent />
                            break;

                        case ClientPage.TradeHistory:
                            <ClientTradeHistoryComponent />
                            break;

                        case ClientPage.BlockchainDepositAddress:
                            <p>BlockchainDepositAddress</p>
                            break;
                    }
                    </CascadingValue>
                </div>

            </tr>
        }
    </table>
}


@code {
    
    [Parameter]
    public string BrokerId { get; set; }
    
    [Parameter]
    public string BrandId { get; set; }
    
    [Parameter]
    public string ClientId { get; set; }
    
    [Parameter]
    public string WalletId { get; set; }

    private ClientPage ActivePage { get; set; }

    private ClientModel Client { get; set; }
    
    private WalletModel ActiveWallet { get; set; }

    private void SetPage(ClientPage page)
    {
        ActivePage = page;
        StateHasChanged();
    }
    
    private void SetWallet(WalletModel wallet)
    {
        ActiveWallet = wallet;
        StateHasChanged();
    }


    private enum ClientPage
    {
        Balances,
        BalanceHistory,
        ActiveOrders,
        TradeHistory,
        BlockchainDepositAddress
    }


    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(ClientId))
            return;

        var wallets = await _walletService.GetWalletsByClient(new JetClientIdentity(BrokerId, BrandId, ClientId));

        Client = new ClientModel(BrokerId, ClientId, BrandId);
        Client.Wallets = (wallets.Wallets ?? new List<ClientWallet>())
            .Select(e => new WalletModel(e.Name, BrokerId, ClientId, BrandId, e.WalletId, e.IsDefault))
            .ToList();
        
        ActiveWallet = null;
        
        if (!string.IsNullOrEmpty(WalletId))
        {
            ActiveWallet = Client.Wallets.FirstOrDefault(e => e.WalletId == WalletId);
        }

        ActiveWallet ??= Client.Wallets.FirstOrDefault();
    }

    private string GetMenuStyle(ClientPage page)
    {
        if (ActivePage == page)
        {
            return "background: lightblue";
        }

        return "";
    }

}