@using Service.ActiveOrders.Grpc
@using Backoffice.Abstractions.Models
@using Backoffice.Components.Clients.Model
@using MyJetWallet.Domain.Orders
@using Service.ActiveOrders.Grpc.Models

@inject IActiveOrderService _activeOrderService

<Loader LoaderConfig="@LoaderConfig"/>

<h3>Active Orders</h3>

@if (Wallet != null)
{
    <ul class="nav">
        <li><button type="button" class="btn-outline-secondary btn" @onclick="Refresh">Refresh</button></li>
    </ul>
    <table class="table" style="font-size: 12px; width: auto">
        <thead>
        <tr>
            <th>OrderId</th>
            <th>Symbol</th>
            <th>Side</th>
            <th>Price</th>
            <th>Volume</th>
            <th>Remaining</th>
            <th>Status</th>
            <th>Type</th>
            <th>CreatedTime</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var order in Orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.InstrumentSymbol</td>
                <td>@order.Side.ToString()</td>
                <td>@order.Price</td>
                <td>@order.Volume</td>
                <td>@order.RemainingVolume</td>
                <td>@order.Status.ToString()</td>
                <td>@order.Type.ToString()</td>
                <td>@order.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <ul class="nav">
                        <li><button type="button" class="btn-outline-danger btn" style="height: 20px; font-size: 10px" @onclick="@(() => CancelOrder(order.OrderId))">Cancel</button></li>
                    </ul>
                </td>
            </tr>
        }
        
        </tbody>
    </table>
    
}

@code {

    [CascadingParameter(Name = "Wallet")]
    public WalletModel Wallet { get; set; }
    
    private ILoaderConfiguration LoaderConfig { get; set; } = new LoaderConfiguration();

    private List<SpotOrder> Orders { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        if (Wallet == null)
            return;

        await Refresh();
    }

    private async Task Refresh()
    {
        LoaderConfig.Enable();
        StateHasChanged();

        var data = await _activeOrderService.GetActiveOrdersAsync(new GetActiveOrdersRequest()
        {
            WalletId = Wallet.WalletId
        });

        Orders = data.Orders ?? new List<SpotOrder>();
        
        LoaderConfig.Disable();
        StateHasChanged();
    }

    private async Task CancelOrder(string orderId)
    {
        
    }

    

}